{{extend 'layout.html'}}
<h2> <p align= 'right'> Año 2013  </h2>
<h1> <center> <u>Material de Estudio</u> </center></h1>

<h3> Carrera: Analista de Sistemas</h3>
{{=BEAUTIFY(response._vars)}}
<TABLE style="border: 1px solid white">
	<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Archivos</center></B></td>
    <td style="border: 1px solid white"><B><center>Descripción </center></B></td>
    <td style="border: 1px solid white"><B><center>Materia </center></B></td>
    <td style="border: 1px solid white"><B><center>Docente </center></B></td>
    <td style="border: 1px solid white"><B><center>Fecha </center></B></td>
    <td style="border: 1px solid white"></td>
    </tr>
    <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><center>POO.pdf</center></td>
    <td style="border: 1px solid white"><center>Planificación de POO 1er Cuatrimestre </center></td>
    <td style="border: 1px solid white"><center>Programación II </center></td>
    <td style="border: 1px solid white"><center>Hector Amarilla </center></td>
        <td style="border: 1px solid white"><center>14/4/13 </center></td>
    <td style="border: 1px solid white"><center><input type="submit" value="Descargar"> </center></td>
    </tr>
    <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><center>Casos_de_uso.docx</center></td>
    <td style="border: 1px solid white"><center>Diagramas y descripción de casos de usos </center></td>
    <td style="border: 1px solid white"><center>Sistemas de Inf.  </center></td>
    <td style="border: 1px solid white"><center>Luz Medina </center></td>
        <td style="border: 1px solid white"><center>20/3/13 </center></td>
    <td style="border: 1px solid white"><center><input type="submit" value="Descargar"> </center></td>
    </tr>
    <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><center>bd_relacionales.pdf</center></td>
    <td style="border: 1px solid white"><center>Base de datos relacionales, caracteristicas,definiciones, usos. </center></td>
    <td style="border: 1px solid white"><center>Base de datos</center></td>
    <td style="border: 1px solid white"><center>Mariano Reingart</center></td>
        <td style="border: 1px solid white"><center>8/5/13 </center></td>
    <td style="border: 1px solid white"><center><input type="submit" value="Descargar"> </center></td>
    </tr>
    <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><center>diagramasUML.pptx</center></td>
    <td style="border: 1px solid white"><center>Diagramas y descripción de UML </center></td>
    <td style="border: 1px solid white"><center>Sistemas de Inf. II </center></td>
    <td style="border: 1px solid white"><center>Angel Bravo </center></td>
        <td style="border: 1px solid white"><center>20/4/13 </center></td>
    <td style="border: 1px solid white"><center><input type="submit" value="Descargar"> </center></td>
    </tr>
    
</TABLE>
