<TABLE style="border: 1px solid black">
<TR>
    <td>
    {{=IMG(_src=URL(c='static', f='logo_plano.png'),_width='30px')}}
    </td>
    <td aling:center>
    <h4><u>CONSTANCIA DE INSCRIPCIÓN A COMISIÓN<u></h4></td> 
    </TR>
    <TR>
    <td> 
        Alumno/a: {{=alumno.nombre}}<br>
		DNI: {{=alumno.dni}}<br>
		Carrera: {{=carrera.nombre}}<br>
		Fecha: {{=request.now.date()}}
        </td>
    </TR>
    <TR>
        
    	<td style="border: 1px solid black">MATERIA</td>
    	<td style="border: 1px solid black">CODIGO</td>
    	<td style="border: 1px solid black">DIVISION</td>
    	<td style="border: 1px solid black">PERIODO</td>
    	<td style="border: 1px solid black">ESTADO</td>
    </TR>
    
        <TR>
        {{for x in inscripcion:}}
        	
        	
        	<td style="border: 1px solid black">
            {{=x.materias.nombre}}
        	</td>
        	<td style="border: 1px solid black">
            {{=x.materias.codigo}}
        	</td>
        	<td style="border: 1px solid black">
            {{=x.divisiones.descripcion}}
        	</td>
        	<td style="border: 1px solid black">
            {{=x.periodos.descripcion}}
        	</td>
        	<td style="border: 1px solid black">
            Pendiente de Revisión
        	</td>
    	</TR>
    {{pass}}        
</TABLE>
