<TABLE style="border: 1px solid black">
    <TR aling:'center'>
    <td>
    <h4>{{=IMG(_src=URL(c='static', f='logo_plano.png'),_width='30px')}}
        <u>CONSTANCIA DE INSCRIPCIÓN A COMISIÓN</u></h4>
    </td> 
        </TR>
    <TR>
    <td><h4> 
        Alumno/a: {{=alumno.nombre}}<br>
		DNI: {{=alumno.dni}}<br>
		Carrera: {{=carrera.nombre}}<br>
		Fecha: {{=request.now.date()}}
        </h4></td>
    </TR>
    <TR>
        <h5>
    	<td style="border: 1px solid black">MATERIA</td>
    	<td style="border: 1px solid black">CODIGO</td>
    	<td style="border: 1px solid black">DIVISION</td>
    	<td style="border: 1px solid black">PERIODO</td>
    	<td style="border: 1px solid black">ESTADO</td>
        </h5>
    </TR>
    
        <TR>
        <h5>
        {{for x in inscripcion:}}
        	
        	
        	<td style="border: 1px solid black">
            {{=x.materias.nombre}}
        	</td>
        	<td style="border: 1px solid black">
            {{=x.materias.codigo}}
        	</td>
        	<td style="border: 1px solid black">
            {{=x.divisiones.descripcion}}
        	</td>
        	<td style="border: 1px solid black">
            {{=x.periodos.descripcion}}
        	</td>
        	<td style="border: 1px solid black">
            Pendiente de Revisión
        	</td>
            </h5>
    	</TR>
    {{pass}}
    <br>        
    <td><h6>*El certificado debe ser presentado y firmado por autoridades del Instituto para su validación</h6>
    </td>
</TABLE>
