{{extend 'layout.html'}}
<h2> <p align= 'right'> Año 2013  </h2>
<h1><u> Parciales Finales Rendidos</u> </h1>
<h3>Alumno: Lucas González </h3>
<h3>Dni: 37.987.234 </h3>
<H3>Carrera: Analista de Sistemas <H3>

{{=BEAUTIFY(response._vars)}}

<TABLE style="border: 1px solid white" >
    <tr style="border: 1px solid white" >
        <td style="border: 1px solid white" ><center><b> Materia</b></center></td>
        <td style="border: 1px solid white" ><center><b> Docente</b></center></td>
        <td style="border: 1px solid white" ><center><b> Calificación</b></center></td>
        <td style="border: 1px solid white" ><center><b> Fecha</b></center></td>
        <td style="border: 1px solid white" ><center><b> Condición</b></center></td>
        <td style="border: 1px solid white" ><center><b> L°</b></center></td>
        <td style="border: 1px solid white" ><center><b> F°</b></center></td>
    </tr>
    <tr style="border: 1px solid white">
        <td style="border: 1px solid white" ><center>Practica P. </center> </td>
        <td style="border: 1px solid white" ><center>M. Reingart</center></td>
        <td style="border: 1px solid white" ><center>5 </center> </td>
        <td style="border: 1px solid white" ><center>12-5-13</center></td>
        <td style="border: 1px solid white" ><center>Regular</center></td>
        <td style="border: 1px solid white" ><center>12</center></td>
        <td style="border: 1px solid white" ><center>9</center></td>
    </tr>
    <tr style="border: 1px solid white">
        <td style="border: 1px solid white" ><center>Inv. Operativa </center> </td>
        <td style="border: 1px solid white" ><center>L. Medina</center></td>
        <td style="border: 1px solid white" ><center>7</center></td>
        <td style="border: 1px solid white" ><center>3-6-13</center></td>
        <td style="border: 1px solid white" ><center>Regular</center></td>
        <td style="border: 1px solid white" ><center>23</center></td>
        <td style="border: 1px solid white" ><center>11</center></td>
    </tr>
    <tr style="border: 1px solid white">
    	<td style="border: 1px solid white" ><center>Teleinformatica </center></td>
    	<td style="border: 1px solid white" ><center>A. Bravo</center></td>
    	<td style="border: 1px solid white" ><center>6</center></td>
        <td style="border: 1px solid white" ><center>11-6-13</center></td>
        <td style="border: 1px solid white" ><center>Libre</center></td>
        <td style="border: 1px solid white" ><center>4</center></td>
        <td style="border: 1px solid white" ><center>16</center></td>
   </tr>
   <tr style="border: 1px solid white">
        <td style="border: 1px solid white" ><center>EDI III </center> </td>
        <td style="border: 1px solid white" ><center>E. Aguirre</center></td>
        <td style="border: 1px solid white" ><center>5</center></td>
        <td style="border: 1px solid white" ><center>10-6-13</center></td>
        <td style="border: 1px solid white" ><center>Regular</center></td>
        <td style="border: 1px solid white" ><center>23</center></td>
        <td style="border: 1px solid white" ><center>11</center></td>
    </tr>
 
</TABLE>
