{{extend 'layout.html'}}


    
<tr><td class="expandable column2">
            <div class="flash" style="display: none;"></div>
            <div class="body">
            


<h1> <center><u> Examenes Finales Rendidos</u> </center></h1>
    <br>
    <div id="div_centrado">
    <table id="tabla">
        <tbody><tr>
            <td id="head"> <center>MATERIA</center> </td>
            <td id="head"><center> NOTA</center></td>
            <td id="head"><center>PERIODO</center></td>
            <td id="head"><center>CURSO</center></td>
        </tr>
       <tr>
            <td id="head"> <center>MATERIA</center> </td>
            <td id="head"><center> NOTA</center></td>
            <td id="head"><center>PERIODO</center></td>
            <td id="head"><center>CURSO</center></td>
        </tr>
        <tr>
            <td id="head"> <center>MATERIA</center> </td>
            <td id="head"><center> NOTA</center></td>
            <td id="head"><center>PERIODO</center></td>
            <td id="head"><center>CURSO</center></td>
        </tr>
        <tr>
            <td id="head"> <center>MATERIA</center> </td>
            <td id="head"><center> NOTA</center></td>
            <td id="head"><center>PERIODO</center></td>
            <td id="head"><center>CURSO</center></td>
        </tr>
        <tr>
            <td id="head"> <center>MATERIA</center> </td>
            <td id="head"><center> NOTA</center></td>
            <td id="head"><center>PERIODO</center></td>
            <td id="head"><center>CURSO</center></td>
        </tr>
        <tr>
            <td id="head"> <center>MATERIA</center> </td>
            <td id="head"><center> NOTA</center></td>
            <td id="head"><center>PERIODO</center></td>
            <td id="head"><center>CURSO</center></td>
        </tr>
        <tr>
            <td id="head"> <center>MATERIA</center> </td>
            <td id="head"><center> NOTA</center></td>
            <td id="head"><center>PERIODO</center></td>
            <td id="head"><center>CURSO</center></td>
        </tr>
        
        
        
        	 
    		 
    </tbody></table>
</div>
    <br>
    <form>
        <center><a href="index.html"><input type="button" value="Volver"></a></center>
</form>

            </div>
          </td>
          <!--
               <td class="width10em column3">
                 <h2>Right Column</h2>
               </td>
          //-->
        </tr>
