{{extend 'layout.html'}}

<h2> Fecha: {{=request.now.date()}}</h2>
<h1> <center><u> Examenes Finales Rendidos</u> </center></h1>
    <br>
    <TABLE style="border: 1px solid white">
        <TR style="border: 1px solid white">
            <TD style="border: 1px solid white"> <center>MATERIA</center> </TD>
            <TD style="border: 1px solid white"><center> NOTA</center></TD>
            <TD style="border: 1px solid white"><center>FECHA</center></TD>
            <TD style="border: 1px solid white"><center>PERIODO</center></TD>
            <TD style="border: 1px solid white"><center>CURSO</center></TD>
        </TR>
        {{ n=notas}}
        
        {{for nota in n:}}
            <TR style="border: 1px solid white">
        	<!--<TD style="border: 1px solid white"> 
        	 {{ =nota.alumnos.nombre}}
        	</TD>-->
            <TD style="border: 1px solid white">
             {{ =nota.materias.nombre}}
             </TD>
             <TD style="border: 1px solid white">
             {{ =nota.notas.nota}}
             </TD>
             <TD style="border: 1px solid white">
             {{ =nota.notas.fecha.strftime("%d/%m/%Y")}}
             </TD>
             <TD style="border: 1px solid white">
             {{ =nota.periodos.descripcion}}
             </TD>
             <TD style="border: 1px solid white">
             {{ =nota.cursos.nombre}}
        {{pass}}
        	 </TD>
    		 </TR>
    </TABLE>
    <br>
    <form>
    <a href="index.html"><input type=button value="Volver" ></a>
</form>
