{{extend 'layout.html'}}

<right>{{=IMG(_src=URL(c='default',f='download',args=alumno.foto),_style='width:280px; float: right; display: block')}}<right>
<h1> Alumno/a: {{=alumno.nombre}}</h2> 
<h2> Fecha de Nacimiento: {{=alumno.fechanacimiento.strftime("%d/%m/%Y")}} </h2> 
<h2>Estado Civil: {{=alumno.estadocivil}} </h2>
<h2> Nacionalidad: {{=alumno.nacionalidad}}  </h2>
<h2> Localidad: {{=alumno.localidad}}</h2>
<h2> Email: {{=alumno.email1}}</h2> 
<h2>Ingreso: {{=alumno.ingreso.strftime("%d/%m/%Y")}} </h2>
<br>
{{if alumno.alumnoid not in inscripcion:}}

<div id= "div_centrado">

</div>
			{{pass}}

<br>
<form>
    <center><a href="index.html"><input type=button value="Volver" ></a></center>
</form>
