{{extend 'layout.html'}}

<h1> PERFIL </h1>

{{=IMG(_src=URL(c='default',f='download',args=alumno.alumnos.foto))}}<br>
<h2> Nombre: {{=alumno.alumnos.nombre}}</h2> 
<h2> Localidad: {{=alumno.alumnos.localidad}} </h2>
<h2> Estado Civil: {{=alumno.alumnos.estadocivil}} </h2>
<h2> Fecha de Nacimiento: {{=alumno.alumnos.fechanacimiento}} </h2> 
<h2> Nacionalidad: {{=alumno.alumnos.nacionalidad}}  </h2>
<h2> Email: {{=alumno.alumnos.email1}}</h2> 
<h2> Ingreso: {{=alumno.alumnos.ingreso}} </h2>
<h2> Carrera: {{=alumno.carreras.nombre}}</h2>
<br>
<h3> Inscripto a las siguientes materias: </h3>
<br>
<TABLE style="border: 1px solid white">
    <TR style="border: 1px solid white">
     <TD style="border: 1px solid white"> <B>Materias</B></TD>
    <TD style="border: 1px solid white"> <B>Fecha de Alta</B></TD> 
     <TD style="border: 1px solid white"> <B>Año</B></TD>
    <TD style="border: 1px solid white"> <B>Carrera</B> </TD> 
    </TR>
     
     {{ d=dato}}
        
        {{for datos in d:}}
            <TR style="border: 1px solid white">
        	<TD style="border: 1px solid white"> 
        	 {{ =datos.comisiones.nombre}}
             </TD>
        	<TD style="border: 1px solid white"> 
        	 {{ =datos.inscripcionescomision.alta}}
        	</TD>
            <TD style="border: 1px solid white">
             {{ =datos.ciclos.anio}}
             </TD>
        	<TD style="border: 1px solid white"> 
        	 {{ =datos.carreras.nombre}}  
             </TD>
        {{pass}}
    		 </TR>
    </TABLE>
<br>
<form>
    <a href="index.html"><input type=button value="Volver" ></a>
</form>
