{{extend 'layout.html'}}

<Center>
	<h1>Inscripcion a Finales</h1>
</Center>
<form method="POST">
<br>
<div id="div_centrado">
<table id="tabla">
<tbody>
   <tr>
        <td id="head"> CODIGO  </td>
        <td id="head">MATERIA  </td>
        <td id="head"> DOCENTE </td>
        <td id="head"> FECHA </td>
        <td id="head"> HORA </td>
        <td id="head"> ESTADO </td>
       <td id="head"> INSCRIBIR </td>
    </tr>
    {{for f in final:}}
        <td id= "td">
            {{=f.examenes.examenid}}
        </td>
        <td id= "td">
            {{=f.materias.nombre}}
        </td>
        <td id= "td">
            {{=f.personal.nombre}}
        </td>
    <td id= "td">
            {{=f.examenes.fecha.strftime("%d/%m/%Y")}}
 <td id= "td">
            {{=f.examenes.hora}}
    <td id= "td">
    <font color="yellow">
        {{=' No Inscripto a comisión' if not  (f.examenes.materiaid in cursadas) else ''}}
    </font>
    <font color="white"><b>
        {{='Materia Aprobada' if (f.examenes.materiaid in aprobadas) else ''}}
        </b></font>
    <font color="white">
        {{='Ya Inscripto Al Final' if (f.examenes.materiaid in inscripto) else ''}}
    </font>
    <font color="orange">
        {{='Debe correlativas' if (f.examenes.materiaid in debe_correlativas) else ''}}
    </font>
     </td>
    </font>

    </td>
        <td id= "td"><input type="checkbox" name="{{="final_%s" % f.examenes.examenid}}" {{='disabled' if (f.examenes.materiaid in inscripto) else 'enabled'}} or {{='disabled' if (f.examenes.materiaid in aprobadas) else ''}} or {{='enabled' if (f.examenes.materiaid in cursadas) else 'disabled'}} or  {{='enabled' if (f.examenes.materiaid not in debe_correlativas) else 'disabled'}}></td>
    </tr>
    {{pass}}
    {{pass}}
</TABLE>
    </div>
<br>

<br>
    <center>
    <a href="index.html"><input type="button" value="Volver"></a>
    <input type="submit" name="guardar" value="Guardar"> 
    <input type="reset" value="Cancelar">
    <a href="constancia_final.html"><input type="button" value="Imprimir Constancia"></a>
    </center>
</form>

</td>
</tr>
</table>
