{{extend 'layout.html'}}
<h2> Fecha: {{=request.now.date()}}</h2>
<h2> Alumno/a: {{=alumno.nombre}}
<h1> <center><u> Inscripción a Exámenes Finales</u> </center></h1>
<form method="POST">
<br>
    <h3> <font color= "white"> *exámenes finales </font> </h3>
<br>
<TABLE class="mitabla" style="border: 1px solid white">
<TR>
    <TD style="border: 1px solid white"><center><b> MATERIA </b></center> </TD>
    <TD style="border: 1px solid white"><center><b> DOCENTE </b></center> </TD>
    <TD style="border: 1px solid white"><center><b> FECHA </b></center> </TD>
    <TD style="border: 1px solid white"><center><b> HORA </b></center> </TD>
    <TD style="border: 1px solid white"> <center><b>ESTADO</b></center> </TD>
<TR>
{{for f in final:}}
    <td style="border: 1px solid white"><input type="checkbox" name="{{="examen_%s" % f.examenes.examenid}}" {{='disabled' if (f.examenes.examenid in inscripciones) else ''}} or {{='disabled' if (f.examenes.materiaid in aprobadas) else ''}} or {{='disabled' if (f.examenes.materiaid in mensajes) else ''}}> 
    
    {{=f.materias.nombre}}
    </td>
    <td style="border: 1px solid white">
    {{=f.personal.nombre}}
    </td>
    <td style="border: 1px solid white">
    {{=f.examenes.fecha}}
    </td>
    <td style="border: 1px solid white">
    {{=f.examenes.hora}}
    </td>
    <td style="border: 1px solid white" >
    <font color="yellow"> 
        {{ ='Ya se encuentra inscripto' if (f.examenes.examenid in inscripciones) else ''}}
        {{=msj_inscripto.get(f.examenes.examenid, "")}}  
    </font>
    	
    <font color="white"> 
        {{=msj_aprobada.get(f.examenes.materiaid, "")}}      
    </font>

    <font color="red"> 
        {{=mensajes.get(f.examenes.materiaid, "")}}  
    </font>
    
    <font color="white"> 
        
    </font>
    
    </td>
    </TR>
    
    {{pass}}
    {{pass}}
</TABLE>
<br>
    <a href="index.html"><input type=button value="Volver" ></a>
    <input type="reset" value="Cancelar">
    <input type="submit" name="guardar" value="Guardar" > 
	
</form>
