{{extend 'layout.html'}}
<h2> Fecha: {{=request.now.date()}}</h2>
<h2> Alumno/a: {{=alumno.nombre}}
<h1> <center><u> Horarios de Comision</u> </center></h1>
    
<div id= "div_centrado">

<TABLE id= "tabla"> 
    
    <tr> 
        
        
        <td id= "head"> DIAS </td>
        <td id= "head"> HORARIOS </td>
        <td id= "head"> MATERIAS </td>
        <td id= "head"> DOCENTE </td>
        <td id= "head"> DIVISION </td>
    </tr>
    {{for hora in horarios:}}
         <tr>
         <td id= "td">      
             {{=hora.horarios.dia}}              
         </td>
         <td id= "td">      
             {{=hora.horas.desde}}
             hasta
             <br>
             {{=hora.horas.hasta}}
             hs.                
         </td>
         
         <td id= "td">      
             {{=hora.materias.nombre}}              
         </td>
         <td id= "td">      
             {{=hora.personal.nombre}}              
         </td>
         <td id= "td">      
             {{=hora.divisiones.descripcion}}              
         </td>
    </tr>
    {{pass}}
    </TABLE>
<br>
<form>
    <center>
    <a href="index.html"><input type=button value="Volver" ></a>
    <a href="horarios.html"><input type=button value="Horario General" ></a>
    </center>
</form>
