{{extend 'layout.html'}}

<h1> <center><u> Horarios de Comision</u> </center></h1>
    
<tr><td class="expandable column2">
            <div class="flash" style="display: none;"></div>
            <div class="body">
            

<h1> <center><u> Horarios de Comision</u> </center></h1>
    
<div id="div_centrado">

<table id="tabla"> 
    
    <tbody><tr> 
        
        
        <td id="head"> DIAS </td>
        <td id="head"> HORARIOS </td>
        <td id="head"> MATERIAS </td>
        <td id="head"> DOCENTE </td>
        <td id="head"> DIVISION </td>
    </tr>
    
    </tbody></table>
<br>
<form>
    <center>
    <a href="index.html"><input type="button" value="Volver"></a>
    <a href="horarios.html"><input type="button" value="Horario General"></a>
    </center>
</form>

            </div>
          </div></td>
          <!--
               <td class="width10em column3">
                 <h2>Right Column</h2>
               </td>
          //-->
        </tr>
