{{extend 'layout.html'}}

<h2> <p align= 'right'> Año 2013  </h2>
<h1> <center> Horarios: Analista de sistemas </center></h1>
<h3> Alumno: Lucas González </h3>
<h3> Dni: 37.987.234 </h3>
{{=BEAUTIFY(response._vars)}}

<TABLE style="border: 1px solid white"> 
    {{for hora in ['1','2','3','4']:}}
    	<tr style="border: 1px solid white">
    	{{for dia in ['lunes','martes','miercoles','jueves','viernes']:}}
    		<td style="border: 1px solid white">
			{{f=horario.get(dia, {}).get(hora, None)}}
			{{if f:}}
				{{=f.personal.nombre}}
				{{=f.materias.nombre}} 
        	{{pass}}
            </td>
    	{{pass}}
    	</tr>
	{{pass}}
	
</TABLE>
