{{extend 'layout.html'}}
<h1>Horarios de Analisis de sistemas</h1>
{{=BEAUTIFY(response._vars)}}
<TABLE style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B><center>Horarios</center></B></td>
    <td style="border: 1px solid white"><B><center>Lunes</B></td>
    <td style="border: 1px solid white"><B><center>Martes</B></td>
    <td style="border: 1px solid white"><B><center>Miercoles</B></td>
    <td style="border: 1px solid white"><B><center>Jueves</B></td>
    <td style="border: 1px solid white"><B><center>Viernes</B></td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">18:00 a 19:00</td>
    <td style="border: 1px solid white">  </td>
    <td style="border: 1px solid white">  </td>
    <td style="border: 1px solid white">Practica profecional</td>
    <td style="border: 1px solid white">Sistemas de informacion</td>
    <td style="border: 1px solid white">Practica profecional</td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">19:00 a 20:00</td>
    <td style="border: 1px solid white">  </td>
    <td style="border: 1px solid white">  </td>
    <td style="border: 1px solid white">Practica Profecional</td>
    <td style="border: 1px solid white">Sist de Informacion</td>
    <td style="border: 1px solid white">Practica Profecional</td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">20:15 a 21:15</td>
    <td style="border: 1px solid white">  </td>
    <td style="border: 1px solid white">Investigacion Operativa</td>
    <td style="border: 1px solid white"><center>EDI III</td>
    <td style="border: 1px solid white"><center>Teleinformatica</td>
    <td style="border: 1px solid white">Economia empresarial</td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">21:15 a 22:15</td>
    <td style="border: 1px solid white">  </td>
    <td style="border: 1px solid white">Investigacion Operativa</td>
    <td style="border: 1px solid white"><center>EDI III</td>
    <td style="border: 1px solid white"><center>Teleinformatica</td>
    <td style="border: 1px solid white">Economia empresarial</td>
    </tr>
</TABLE>

