{{extend 'layout.html'}}


<td class="expandable column2">
            <div class="flash" style="display: none;"></div>
            <div class="body">
            


<h1> <center><u> Consulta de Inasistencias</u> </center></h1>

    
<div id="div_centrado">
<table id="tabla">
	<tbody><tr>
	<td id="head"> MATERIAS</td>
	<td id="head"> CANTIDAD</td>
	<td id="head"> DESCRIPCIÓN</td>
	<td id="head"> FECHA </td>
    </tr>
    <tr>
	<td id="head"> Ingles</td>
	<td id="head"> 4</td>
	<td id="head"> </td>
        <td id="head"> 12/04/2014 </td>
    </tr>
    <tr>
	<td id="head"> Programacion</td>
	<td id="head"> 2</td>
	<td id="head"> </td>
        <td id="head"> 16/05/2014 </td>
    </tr>
    <tr>
	<td id="head"> Introduccion a los sistemas de informacion</td>
	<td id="head"> 1</td>
	<td id="head"> </td>
        <td id="head"> 30/03/2014 </td>
    </tr>
    <tr>
	<td id="head"> E.D.I</td>
	<td id="head"> 1</td>
	<td id="head"> </td>
        <td id="head"> 12/05/2014 </td>
    </tr>
    <tr>
	<td id="head"> Analisis matematico</td>
	<td id="head"> 2</td>
	<td id="head"> </td>
        <td id="head"> 25/05/2014 </td>
    </tr>
    <tr>
	<td id="head"> Algebra</td>
	<td id="head"> 1</td>
	<td id="head"> el alumno se encontraba enfermo</td>
        <td id="head"> 12/04/2014 </td>
    </tr>

	
	
		
		        
        
        
    		 
    		 <tr>
    		 <td id="td">
             TOTAL
             </td>
    		 <td id="td">
                 11
             </td>
    </tr>
    
    </tbody></table>
</div>
    <br>
<form>
    <center><a href="index.html"><input type="button" value="Volver"></a></center>
</form>

            </div>
          </td>
