{{extend 'layout.html'}}

<h2> Fecha: {{=request.now.date()}}</h2>

<h1><u>Menú Alumnos</u></h1>
<ul>
    <li> <a href="ficha.html">Perfil del Alumno</a></li>
	Perfil del alumno con sus datos personales correspondientes.
    <li> <a href="ingreso.html">Pre-Inscripción</a></li>
	Formulario de Pre- Inscripcion como alumno.
    <li> <a href="horarios_comision.html">Horarios de Comisiones</a></li>
	Permite ver el horario completo de la carrera cursada por el alumno.
    <li> <a href="inasistencias.html">Inasistencias</a></li>
    Permite ver el conteo de inasistencias del alumno en la cursada de la carrera.
    <li> <a href="examenes.html">Exámenes Finales</a></li>
    Lista las notas de los exámenes finales rendidos.
    <li> <a href="parciales.html">Exámenes Cuatrimestrales</a></li>
    Lista las notas de los parciales cuatrimestrales rendidos.
    <li> <a href="inscripciones.html">Inscripción a Comisión</a></li>
    Permite inscribir a comisión/división de un curso con registro de modalidad de cursada.
    <li> <a href="final.html">Inscripción a Exámenes</a></li>
    Permite inscribir a exámenen final con información detallada de la mesa de examen.
    <li> <a href="archivos.html">Descarga de apuntes</a></li>
    Podrá bajar apuntes pedagógicos otorgados por los docentes de manera on line.
    
   
    </ul>
