{{extend 'layout.html'}}

<h2> Fecha: {{=fecha_actual}}</h2>

    <h1><u>Menu Alumnos</u></h1>

<ul>
    <!-- si el usuario ya es alumno no muestro la preescripcion. de lo contrario si -->
    {{if usuario not in user:}}
    <li> <a href="ingreso.html">Preinscripción</a></li>
	Por favor, complete el formulario de Preinscripción. De lo contrario no podra utilizar las siguientes opciones del Campus Web-Alumnos.
    {{pass}}
	{{if usuario in user:}}
    <li> <a href="ficha.html">Perfil del Alumno</a></li>
	Perfil del alumno con sus datos personales correspondientes.
       
    <li> <a href="inscripcioncarrera.html">Inscripción a Carrera</a></li>
    Permite inscribir a una Carrera, lo cual permitira filtrar comisiones en una instancia de inscrip. a comisión. 
    
    <li> <a href="inscripciones.html">Inscripción a Comisiónes</a></li>
    Permite inscribir a comisión/division de un curso con registro de modalidad de cursada.   
   
    <li> <a href="horarios_comision.html">Horarios de Comisiones</a></li>
	Permite ver el horario completo de la carrera cursada por el alumno.
    
    <li> <a href="inasistencias.html">Inasistencias</a></li>
    Permite ver el conteo de inasistencias del alumno en la cursada de la carrera.
    
    <li> <a href="examenes.html">Finales</a></li>
    Lista las notas de los examenes finales rendidos.
    
    <li> <a href="parciales.html">Parciales</a></li>
    Lista las notas de los parciales cuatrimestrales rendidos.
    
    <li> <a href="final.html">Inscripción a Exámenes</a></li>
    Permite inscribir a exámenen final con informacion detallada de la mesa de examen.
    {{pass}}
   

</ul>
