{{extend 'layout.html'}}
<h1> <center> Inscripcion a Carrera</center></h1>
<form method="POST">
<br>
<div id= "div_centrado">
<TABLE id= "tabla">
<TR>
    <TD id= "head"> CARRERA</TD>
    <TD id= "head"> CONFIRMAR  </TD>
    </TR>
    <TR>
    
	<td id= "td"> 
             <select name="{{="carrera_%s" %(alumno.alumnoid)}}"> 
              {{for carrera in carreras: }}
             <option value="{{= carrera.carreraid }}">{{=(carrera.nombre)}}</option>
			 {{pass}}
             </select>
        </td>
     <td id= "td"> {{=INPUT (_type="checkbox", _name="validar_%s" %(alumno.id))}}</td>
    </TR>
    </TABLE>
    </div>   
    <br>          
    <center>
      <input type="submit" name="grabar" value="Guardar">
      <a href="index.html"><input type=button value="Volver" ></a>
    </center>
</form>
