{{extend 'layout.html'}}
<h2> Fecha: {{=request.now.date()}}</h2>

<h1> <center> Inscripcion a Comisión</center></h1>

<form method="POST">
<br>
  

<TABLE style="border: 1px solid white">
<TR>
    <TD style="border: 1px solid white"><center><b> CODIGO </b></center> </TD>
    <TD style="border: 1px solid white"><center><b> MATERIA </b></center> </TD>
    <TD style="border: 1px solid white"><center><b> DOCENTE </b></center> </TD>
    <TD style="border: 1px solid white"> <center><b> CONDICIÓN </b></center> </TD>
    <TD style="border: 1px solid white"> <center><b>ESTADO</b></center> </TD>
<TR>
    
{{for c in comision:}}
    
    <td style="border: 1px solid white">
    {{=c.materias.materiaid}}
    </td>
    <td style="border: 1px solid white"><input type="checkbox" name="{{="comision_%s" % c.comisiones.comisionid}}" {{='disabled' if (c.comisiones.comisionid in inscripciones) else ''}} or {{='disabled' if (c.comisiones.materiaid in aprobada) else ''}} > 
    
    {{=c.materias.nombre}}
    </td>
    <td style="border: 1px solid white">
    {{=c.personal.nombre}}
    </td>
    <td style="border: 1px solid white">
        <select name="condicion" {{='disabled' if (c.comisiones.materiaid in aprobada) else ''}} or 
             {{='disabled' if (c.comisiones.comisionid in inscripciones) else ''}}> 
             <option value="regular" > Regular
			 <option value="libre" > Libre
             </select>
    </td>
    <td style="border: 1px solid white" >
    <font color="yellow"> 
        {{='Ya inscripto, pendiente de revision' if (c.comisiones.comisionid in inscripciones) else ''}}
    </font>
       
    <font color="red"> 
        {{='Comision Aprobado' if (c.comisiones.materiaid in aprobada) else ''}}  
    </font>
    
    <font color="white"> 
        {{='' if (c.comisiones.materiaid in aprobada or c.comisiones.comisionid in inscripciones) else 'Disponible'}}  
    </font>
    </td>
    </TR>
    
    {{pass}}
    {{pass}}
</TABLE>
<br>
    <a href="index.html"><input type=button value="Volver" ></a>
    <input type="submit" name="guardar" value="Guardar" > 
    <input type="reset" value="Cancelar">
    <a href="constancia_comision.html"><input type=button value="Imprimir Constancia" ></a>
	
</form>
