{{extend 'layout.html'}}
{{extend 'layout.html'}}
<html>
<head>
	<title>Mis Calificaciones</title>
</head>

<body>

<table align="center" cellspacing="2" cellpadding="2" border="1" bgcolor=dddddd>

<tr bgcolor="aaaaaa">
    <td  align="center">Curso</td>
    <td  align="center">Materia</td>
    <td>Fecha</td>
    <td align="center">Libro</td>
    <td align="center">Folio</td>
    <td align="center">Calificacion</td>
    
</tr>
<tr>
    <td rowspan="9"><H2 align=center>1°</H2></td>
    <td bgcolor="red">Ingles</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"> </td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td>
</tr>
<tr>
    <td bgcolor="red">Introduccion a los sistemas de informacion</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"> </td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">Administracion de las orfanizaciones</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">Programacion I</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">Algebra</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">Arquitectura del computador</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">Analisis matematico I</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">Metodologia de la investigacion</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">E.D.I I</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>
<tr>
    <td rowspan="8"><H2 align=center>2°</H2></td>
    <td bgcolor="red">Probabilidad y estadistica</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"> </td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td>
</tr>


<tr>
    <td bgcolor="red">Analisis Matematico II</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">Programacion II</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">Ingles Tecnico II</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">Sistemas operativos</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">Sistemas de informacion I</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">Bases de datos</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">E.D.I II</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>
<tr>
    <td rowspan="6"><H2 align=center>3°</H2></td>
    <td bgcolor="red">Investigacion Operativa</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"> </td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td>
</tr>


<tr>
    <td bgcolor="red">Economia Empresarial</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">Teleinformatica</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">Sistemas de Informacion II</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">Practica Profesional</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr>
    <td bgcolor="red">E.D.I III</td>
    <td align="center"><input type="date" name="fecha"></td>
    <td align="center"><input type="text" size="5"></td>
    <td  align="center"><input type="text" size="5"></td>
    <td align="center"><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>
</table>
<p>




</p>
<input type="button" value="Aceptar" style="Position:Absolute; left:60%; top:60%">            <input type="button" value="Cancelar" style="Position:Absolute; left:65%; top:60%">

</body>
</html>
