{{extend 'layout.html'}}
{{extend 'layout.html'}}
<html>
<head>
	<title>Mis Calificaciones</title>
</head>

<body>

<table id=tabla align="center" cellspacing="2" cellpadding="2" border="1" >

<tr id=tabla>
    <td  align="center" id=tabla>Curso</td>
    <td  align="center" id=tabla>Materia</td>
    <td id=tabla>Fecha</td>
    <td align="center id=tabla">Libro</td>
    <td align="center" id=tabla>Folio</td>
    <td align="center" id=tabla>Calificacion</td>
    
</tr>
<tr id=tabla>
    <td rowspan="9" id=tabla><H2 align=center>1°</H2></td>
    <td>Ingles</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"> </td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td>
</tr>
<tr>
    <td id=tabla>Introduccion a los sistemas de informacion</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"> </td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>Administracion de las orfanizaciones</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>Programacion I</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>Algebra</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>Arquitectura del computador</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>Analisis matematico I</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>Metodologia de la investigacion</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>E.D.I I</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>
<tr id=tabla>
    <td rowspan="8" id=tabla><H2 align=center>2°</H2></td>
    <td id=tabla>Probabilidad y estadistica</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"> </td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td>
</tr>


<tr id=tabla>
    <td id=tabla>Analisis Matematico II</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>Programacion II</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>Ingles Tecnico II</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>Sistemas operativos</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>Sistemas de informacion I</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>Bases de datos</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>E.D.I II</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>
<tr id=tabla>
    <td rowspan="6" id=tabla><H2 align=center>3°</H2></td>
    <td id=tabla>Investigacion Operativa</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"> </td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td>
</tr>


<tr id=tabla>
    <td id=tabla>Economia Empresarial</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>Teleinformatica</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>Sistemas de Informacion II</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>Practica Profesional</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>

<tr id=tabla>
    <td id=tabla>E.D.I III</td>
    <td align="center" id=tabla><input type="date" name="fecha"></td>
    <td align="center" id=tabla><input type="text" size="5"></td>
    <td  align="center" id=tabla><input type="text" size="5"></td>
    <td align="center" id=tabla><SELECT NAME="selCombo" SIZE=1;"> 
<OPTION VALUE="link pagina 1">1</OPTION>
<OPTION VALUE="link pagina 2">2</OPTION>
<OPTION VALUE="link pagina 3">3</OPTION>
<OPTION VALUE="link pagina 4">4</OPTION> 
<OPTION VALUE="link pagina 1">5</OPTION>
<OPTION VALUE="link pagina 2">6</OPTION>
<OPTION VALUE="link pagina 3">7</OPTION>
<OPTION VALUE="link pagina 4">8</OPTION> 
<OPTION VALUE="link pagina 1">9</OPTION>
<OPTION VALUE="link pagina 2">10</OPTION>  
</SELECT> </td></td>
</tr>
</table>
<p>




</p>
<form>
    <center> <a href="index.html"><input type=button value="Aceptar" ></a> </center>

    <center> <a href="index.html"><input type=button value="Volver" ></a> </center>
</form>


</body>
</html>
