{{extend 'layout.html'}}
<h2> <p align= 'right'> Año 2013  </h2>
<h1><center> Listado de Parciales Cuatrimestrales Rendidos </center></h1>
<h3> Alumno: Lucas González </h3>
<h3> Dni: 37.987.234 </h3>
<h3> Carrera: Analista de Sistemas </h3>
<h3> Primer cuatrimestre </h3>
{{=BEAUTIFY(response._vars)}}
<TABLE style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><b> Materia</b> </td>
    <td style="border: 1px solid white"><b> Docente</b> </td>
    <td style="border: 1px solid white"><b> Calificación</b> </td>
    <td style="border: 1px solid white"> <b>Fecha</b></td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"> Practica Prof.</td>
    <td style="border: 1px solid white"> Mariano Reingart</td>
    <td style="border: 1px solid white"><center> 8 </center></td>
    <td style="border: 1px solid white"> 20/6/13</td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"> Teleinformatica</td>
    <td style="border: 1px solid white"> Angel Bravo</td>
    <td style="border: 1px solid white"><center> 7</center> </td>
    <td style="border: 1px solid white"> 18/7/13</td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"> Inv. Operativa </td>
    <td style="border: 1px solid white"> Luz Medina </td>
    <td style="border: 1px solid white"> <center>5</center> </td>
    <td style="border: 1px solid white"> 10/7/13</td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"> Sistemas de Inf. II</td>
    <td style="border: 1px solid white"> Angel Bravo</td>
    <td style="border: 1px solid white"><center> 7</center> </td>
    <td style="border: 1px solid white"> 18/7/13</td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"> EDI III</td>
    <td style="border: 1px solid white"> Elena Aguirre</td>
    <td style="border: 1px solid white"><center> 9</center> </td>
    <td style="border: 1px solid white"> 7/6/13</td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"> Economia E.</td>
    <td style="border: 1px solid white"> Claudia Vargas</td>
    <td style="border: 1px solid white"><center> 10</center> </td>
    <td style="border: 1px solid white"> 23/6/13</td>
    </tr>
    </TABLE>

<h3> Segundo cuatrimestre </h3>
<TABLE style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><b> Materia</b> </td>
    <td style="border: 1px solid white"><b> Docente</b> </td>
    <td style="border: 1px solid white"><b> Calificación</b> </td>
    <td style="border: 1px solid white"> <b>Fecha</b></td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"> Practica Prof.</td>
    <td style="border: 1px solid white"> Mariano Reingart</td>
    <td style="border: 1px solid white"><center> 7 </center></td>
    <td style="border: 1px solid white"> 20/11/13</td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"> Teleinformatica</td>
    <td style="border: 1px solid white"> Angel Bravo</td>
    <td style="border: 1px solid white"><center> 8</center> </td>
    <td style="border: 1px solid white"> 18/12/13</td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"> Inv. Operativa </td>
    <td style="border: 1px solid white"> Luz Medina </td>
    <td style="border: 1px solid white"> <center>9</center> </td>
    <td style="border: 1px solid white"> 10/11/13</td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"> Sistemas de Inf. II</td>
    <td style="border: 1px solid white"> Angel Bravo</td>
    <td style="border: 1px solid white"><center> 7</center> </td>
    <td style="border: 1px solid white"> 18/11/13</td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"> EDI III</td>
    <td style="border: 1px solid white"> Elena Aguirre</td>
    <td style="border: 1px solid white"><center> 7</center> </td>
    <td style="border: 1px solid white"> 7/12/13</td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"> Economia E.</td>
    <td style="border: 1px solid white"> Claudia Vargas</td>
    <td style="border: 1px solid white"><center> 7</center> </td>
    <td style="border: 1px solid white"> 23/11/13</td>
    </tr>
    </TABLE>
