{{extend 'layout.html'}}
<h2> <p align= 'right'> Año 2013  </h2>
<h1> Listado de Parciales cuatrimestrales rendidos </h1>
<h3> Alumno: Lucas González </h3>
<h3> Dni: 37.987.234 </h3>
{{=BEAUTIFY(response._vars)}}
<TABLE style="border: 1px solid white">
	<tr style="border: 1px solid white"><td style="border: 1px solid white"> Materia </td><td style="border: 1px solid white"> Calificación </td><td style="border: 1px solid white"> Docente </td><td style="border: 1px solid white"> Fecha</td></tr>
    <tr style="border: 1px solid white"><td style="border: 1px solid white"> Pract. Prof.</td><td style="border: 1px solid white"> 8 </td><td style="border: 1px solid white"> Mariano Reingart</td><td style="border: 1px solid white"> 20/6/13</td></tr>
    <tr style="border: 1px solid white"><td style="border: 1px solid white"> Teleinformatica</td><td style="border: 1px solid white"> 7 </td><td style="border: 1px solid white"> Angel Bravo</td><td style="border: 1px solid white"> 18/7/13</td></tr>
    <tr style="border: 1px solid white"><td style="border: 1px solid white"> Inv. Operativa </td><td style="border: 1px solid white"> 5 </td><td style="border: 1px solid white"> Luz Medina </td><td style="border: 1px solid white"> 10/7/13</td></tr>
    <tr style="border: 1px solid white"><td style="border: 1px solid white"> Sist. Inf.</td><td style="border: 1px solid white"> 7 </td><td style="border: 1px solid white"> Angel Bravo</td><td style="border: 1px solid white"> 18/7/13</td></tr>
    <tr style="border: 1px solid white"><td style="border: 1px solid white"> EDI III</td><td style="border: 1px solid white"> 9 </td><td style="border: 1px solid white"> Elena Aguirre</td><td style="border: 1px solid white"> 7/6/13</td></tr>
    <tr style="border: 1px solid white"><td style="border: 1px solid white"> Economia E.</td><td style="border: 1px solid white"> 10 </td><td style="border: 1px solid white"> Vargaz</td><td style="border: 1px solid white"> 23/6/13</td></tr>
</TABLE>
