{{extend 'layout.html'}}
<Center><h1>CALIFICACION DE PARCIALES</h1></Center>
<form method="POST">
<br>
  
<div id="div_centrado">
<table id="tabla">
<tbody><tr>
   
    <td id="head"> AÑO  </td>
   <td id="head">MATERIA  </td>
    <td id="head"> PROFESOR </td>
   <td id="head"> NOTA PRIMER CUATRIMESTRE </td>
   <td id="head"> NOTA SEGUNDO CUATRIMESTRE </td>

</tr>
    <TD ROWSPAN="11"><P>PRIMERO</P>
    <tr>
    
    <td id="td">
	<center>ALGEBRA</center>
</td>
    <td id="td">
    Gonzalez Jose
</td>
  <td id="td">
 	7
        </td>
        <td id="td">
 	5
        </td>
</tr>
    
    
 <tr>
    
    <td id="td">
	<center> ANALISIS MATEMATICO I</center>
</td>
    <td id="td">
    Gonzalez Jose
</td>
    <td id="td">
  
    8
</td>
	<td id="td">
    8</td>
</tr>
   
<td id="td">
    
    INGLES TECNICO I
    </td>
    <td id="td">
    Andre Roselli
    </td>
    <td id="td">
        7</td>
<td id="td">
    9
</td>
    </tr>
    
    
 
    <td id="td">
    
    ADM. DE LAS ORGANIZACIONES
    </td>
    <td id="td">
    Vargas Claudia
    </td>
    
    
    <td id="td">
    7
</td><td id="td">
    7
</td>
    </tr>
   
    <td id="td">
    
    METODOLOGIA DE LA INVESTIGACION
    </td>
    <td id="td">
    Aguirre Elena
    </td>
    
    
    <td id="td">
7
</td><td id="td">
 7
    </td>
    </tr>
    
    <td id="td">
    
    PROGRAMACION I
    </td>
    <td id="td">
    Amarilla Hector
    </td>
    
 
    <td id="td">
    6</td><td id="td">
    6</td>
    </tr>   
    <td id="td"> 
    
    INTROD. SISTEMAS DE INFORMACION
    </td>
    <td id="td">
    Medina Luz
    </td>
    

    <td id="td">
    8</td><td id="td">
    8</td>
    </tr>
       <td id="td">
    
    ARQUITECTURA DE COMPUTADORES
    </td>
    <td id="td">
    Bravo Angel
    </td>
    
  
<td id="td">6</td>
   <td id="td">6</td>
    </tr>
    
    
    
   
    <td id="td"> 
    
    EDI I
    </td>
    <td id="td">
    Bravo Angel
    </td>
    
  <td id="td">
    4</td><td id="td">
4</td></tr>
   
    <td id="td"> 
    
    PROBABILIDAD Y ESTADISTICA

    <td id="td">
    Gonzalez Jose
    </td>
    
    
    <td id="td">
    7 </td> 
    <td id="td">
    7</td>
    
    
    <tr>
    <td id="td" ROWSPAN="7"><P>SEGUNDO</P></td>
    
    <td id="td">
    
    ANALISIS MATEMATICO II
    </td>
    <td id="td">
    Gonzalez Jose
    </td>
    
   
    <td id="td">
    8
    </td>
    <td id="td">
    4
    </td>
    </tr>
    
    

    
    <tr>
    
    <td id="td">
    
    INGLES TECNICO II
    </td>
    <td id="td">
    Andre Roselli
    </td>
    
  
    <td id="td">
    6</td><td id="td">
    9</td>
    </tr>
    
    
   
    <td id="td">
    
    SISTEMAS DE INFORMACION I
    </td>
    <td id="td">
    Medina Luz
    </td>
    
 
    <td id="td">
    9</td><td id="td">
    8</td>
    </tr>

    <td id="td">
    
    PROGRAMACION II
    </td>
    <td id="td">
    Amarilla Hector
    </td>
    
   
    <td id="td">
    8</td><td id="td">
    9</td>
    </tr>
    
    
    
   
    <td id="td">
    
    SISTEMAS OPERATIVOS
    </td>
    <td id="td">
    Reingart Mariano
    </td>
    

    <td id="td">
    4</td><td id="td">
    4</td>
    </tr>
    
    
    
    
    <td id="td">
    
    BASES DE DATOS
    </td>
    <td id="td">
    Reingart Mariano
    </td>
    

    <td id="td">
    5</td><td id="td">
    4</td>
    </tr>
    </TABLE>
    </div>
<br>
    <center>
    <a href="index.html"><input type=button value="Volver" ></a>
    <input type="submit" name="guardar" value="Guardar" > 
    <input type="reset" value="Cancelar">
    <a href="constancia_final.html"><input type=button value="Imprimir Constancia" ></a>
    </center>
</form>
{{extend 'layout.html'}}

        
        
            <h1> <center><u> Examenes Finales Rendidos</u> </center></h1>
    <br>
    <div id= "div_centrado">
    <TABLE id= "tabla">
        <TR>
            <TD id= "head"> <center>MATERIA</center> </TD>
            <TD id= "head"><center> NOTA</center></TD>
            <TD id= "head"><center>PERIODO</center></TD>
            <TD id= "head"><center>CURSO</center></TD>
        </TR>
        {{ n=notas}}
        
         {{for nota in n:}}
            <TR>
           
        	<!--<TD style="border: 1px solid white">
        	 {{ =nota.alumnos.nombre}}
        	</TD>-->
            <TD id= "td">
             {{ =nota.materias.nombre}}
             </TD>
             <TD id= "td">
             {{ =nota.notas.nota}}
             </TD>
          
             <TD id= "td">
             {{ =nota.periodos.descripcion}}
             </TD>
             <TD id= "td">
             {{ =nota.cursos.nombre}}
       
        	 </TD>
               
    		 </TR>
    		  {{pass}}
    </TABLE>
    
</div>
     {{pass}}
    <br>
    <form>
        <center><a href="index.html"><input type=button value="Volver" ></a></center>
</form>
