{{extend 'layout.html'}}


<b><h1>Oferta educativa:</h1></b>
<br></br>
<h2><li>
<u><a href="{{=URL (c= "carreras",f="programas")}}">Tecnicatura superior en analisis en sistemas</a>
<br></br></li></h2>
<h2><li>
<a href="{{=URL (c= "carreras",f="redes")}}">Tecnicatura superior en redes informaticas</a>
<br></br></li></h2>
<h2><li>
<a href="{{=URL (c= "carreras",f="salud_enfermeria")}}">Enfermeria</a>
<br></br></li></h2>
<h2><li>
<a href="{{=URL (c= "carreras",f="salud_auxenfermeria")}}">Auxiliar en enfermeria</a>
<br></br></li></h2>
<h2><li>
<a href="{{=URL (c= "carreras",f="salud_instrumentacion")}}">Instrumentador quirúrgico</a>
<br></br></li></h2>
<h2><li>
<a href="{{=URL (c= "carreras",f="salud_laboratorio")}}">Laboratorio de análisis clínicos</a>
<br></br></li></h2>
<h2><li>
<a href="{{=URL (c= "carreras",f="salud_radiologia")}}">Radiologia</a>
<br></br></li></h2>
<h2><li>
<a href="{{=URL (c= "carreras",f="salud_cardiologia")}}">Cardiologia</a>
<br></br></li></h2>
