{{extend 'layout.html'}}


<b><h1>Carreras del Instituto Superior Tecnologico Blaise Pascal</h1></b>
<br></br>
<li>
<u><a href="http://127.0.0.1:8000/practica/carreras/sistemas">Tecnicatura superior en analisis en sistemas</a>
    <br></br></li>
<li>
<a href="http://127.0.0.1:8000/practica/carreras/redes">Tecnicatura superior en redes informaticas</a>
<br></br></li>
<li>
<a href="http://127.0.0.1:8000/practica/carreras/salud_enfermeria">Enfermeria</a>
<br></br></li>
<li>
<a href="http://127.0.0.1:8000/practica/carreras/salud_auxenfermeria">Auxiliar en enfermeria</a>
<br></br></li>
<li>
    <a href="http://127.0.0.1:8000/practica/carreras/salud_instrumentacion">Instrumentador quirúrgico</a>
<br></br></li>
<li>
    <a href="http://127.0.0.1:8000/practica/carreras/salud_laboratorio">Laboratorio de análisis clínicos</a>
<br></br></li>
<li>
<a href="http://127.0.0.1:8000/practica/carreras/salud_radiologia">Radiologia</a>
<br></br></li>
<li>
<a href="http://127.0.0.1:8000/practica/carreras/salud_cardiologia">Cardiologia</a>
</u></li>
