{{extend 'layout.html'}}
<br></br>
El tecnico Superior en Analisis de Sistemas estará capacitado para diagnosticar necesidades, diseñar, desarrollar, poner en servicio y mantener productos, sevicios o soluciones informáticas acorde a las organizaciones que lo requieran. Estas competencias seran desarrolladas según las incumbencias y las normas técnicas y legales que rigen su campo profesional.
<h1> <center> <u>Programas 2015</u> </center></h1>


<h1> Primer Año </h1>

<TABLE style="border: 1px solid white">
    	
	<td style="border: 1px solid white"><B><center>Materia</center></B></td>
    <td style="border: 1px solid white"><B><center>Docente </center></B></td>
    <td style="border: 1px solid white"><B><center>Codigo</center></B></td>
	<td style="border: 1px solid white"><B><center>correlativas</center></B></td>
    
    <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Algebra</center></B></td>
    <td style="border: 1px solid white"><B><center>Gonzalez Jose </center></B></td>
    <td style="border: 1px solid white"><B><center>500</center></B></td>
     <td style="border: 1px solid white"><B><center></td>
        
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Analisis matematico</center></B></td>
    <td style="border: 1px solid white"><B><center>Gonzalez Jose </center></B></td>
    <td style="border: 1px solid white"><B><center>501 </center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

	<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Ingles técnico</center></B></td>
    <td style="border: 1px solid white"><B><center>Roselli Andrea</center></B></td>
    <td style="border: 1px solid white"><B><center> 502</center></B></td>
    <td style="border: 1px solid white"><B><center> </td>
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Administracion de las organizaciones</center></B></td>
    <td style="border: 1px solid white"><B><center>Vargas Claudia</center></B></td>
    <td style="border: 1px solid white"><B><center> 503</center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>
        <a href="http://127.0.0.1:8000/campuswebpro/carreras/programacion">Programacíon</a></center></B></td>
    <td style="border: 1px solid white"><B><center>Amarilla Hector </center></B></td>
    <td style="border: 1px solid white"><B><center>505</center></B></td>
    <td style="border: 1px solid white"><B><center> </td>
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>
    <a>Metodologia de la investigacion</a></center></B></td>
    <td style="border: 1px solid white"><B><center>Aguirre Elena</center></B></td>
    <td style="border: 1px solid white"><B><center>504</center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Introduccion sistemas de informacion</center></B></td>
    <td style="border: 1px solid white"><B><center>Medina Luz</center></B></td>
    <td style="border: 1px solid white"><B><center>506</center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Arquitectura del computador</center></B></td>
    <td style="border: 1px solid white"><B><center>Bravo Angel</center></B></td>
    <td style="border: 1px solid white"><B><center>507</center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>EDI</center></B></td>
    <td style="border: 1px solid white"><B><center>Bravo Angel</center></B></td>
    <td style="border: 1px solid white"><B><center> 508</center></B></td>
    <td style="border: 1px solid white"><B><center> </td>


  </TABLE>

 


<h1> Segundo Año </h1>
 

<TABLE style="border: 1px solid white">
	
	<td style="border: 1px solid white"><B><center>Materia</center></B></td>
    <td style="border: 1px solid white"><B><center>Docente </center></B></td>
    <td style="border: 1px solid white"><B><center>Codigo</center></B></td>
    <td style="border: 1px solid white"><B><center>correlativas</center></B></td>

	
	<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Probabilidad y estadistica</center></B></td>
    <td style="border: 1px solid white"><B><center>Gonzalez Jose</center></B></td>
    <td style="border: 1px solid white"><B><center>509</center></B></td>
    <td style="border: 1px solid white"><B><center>500-501 </td>

   
    
    <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Analisis matematico II</center></B></td>
    <td style="border: 1px solid white"><B><center>Gonzalez Jose </center></B></td>
    <td style="border: 1px solid white"><B><center>510 </center></B></td>
    <td style="border: 1px solid white"><B><center> 501</td>
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Ingles tecnico II</center></B></td>
    <td style="border: 1px solid white"><B><center>Roselli Andrea</center></B></td>
    <td style="border: 1px solid white"><B><center>511</center></B></td>
    <td style="border: 1px solid white"><B><center> 502</td>

	<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Sistemas de informacion </center></B></td>
    <td style="border: 1px solid white"><B><center>Bravo Angel</center></B></td>
    <td style="border: 1px solid white"><B><center>512</center></B></td>
    <td style="border: 1px solid white"><B><center>503-506 </td>
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Programacion II</center></B></td>
    <td style="border: 1px solid white"><B><center>Amarilla Hector</center></B></td>
    <td style="border: 1px solid white"><B><center>513</center></B></td>
    <td style="border: 1px solid white"><B><center> 505</td>

<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Sistemas operativos</center></B></td>
    <td style="border: 1px solid white"><B><center>Medina Luz</center></B></td>
    <td style="border: 1px solid white"><B><center>514</center></B></td>
    <td style="border: 1px solid white"><B><center>507 </td>
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Base de datos</center></B></td>
    <td style="border: 1px solid white"><B><center>Reingart Mariano</center></B></td>
    <td style="border: 1px solid white"><B><center>515</center></B></td>
    <td style="border: 1px solid white"><B><center> 505</td>

<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>EDI II</center></B></td>
    <td style="border: 1px solid white"><B><center>Medina Luz</center></B></td>
    <td style="border: 1px solid white"><B><center>516</center></B></td>
    <td style="border: 1px solid white"><B><center> </td>



    </TABLE>




<h1> Tercer Año </h1>
 

<TABLE style="border: 1px solid white">
	
	<td style="border: 1px solid white"><B><center>Materia</center></B></td>
    <td style="border: 1px solid white"><B><center>Docente </center></B></td>
    <td style="border: 1px solid white"><B><center>Codigo</center></B></td>
    <td style="border: 1px solid white"><B><center>correlativas</center></B></td>
    
	
	<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Investigacion operativa</center></B></td>
    <td style="border: 1px solid white"><B><center>Medina Luz</center></B></td>
    <td style="border: 1px solid white"><B><center>517</center></B></td>
    <td style="border: 1px solid white"><B><center> 509-510-513</td>

   
    
    <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Economia empresarial</center></B></td>
    <td style="border: 1px solid white"><B><center>Vargas Claudia</center></B></td>
    <td style="border: 1px solid white"><B><center>518 </center></B></td>
    <td style="border: 1px solid white"><B><center>512 </td>
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>
    <a href="http://127.0.0.1:8000/campuswebpro/carreras/teleinformatica">Teleinformatica</a></center></B></td>
    <td style="border: 1px solid white"><B><center>Bravo Angel</center></B></td>
    <td style="border: 1px solid white"><B><center>519</center></B></td>
    <td style="border: 1px solid white"><B><center> 514</td>

	<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Sistemas de informacion II</center></B></td>
    <td style="border: 1px solid white"><B><center>Medina Liz</center></B></td>
    <td style="border: 1px solid white"><B><center> 520</center></B></td>
    <td style="border: 1px solid white"><B><center>512 </td>
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center><a href="http://127.0.0.1:8000/practicarepo/carreras/practica">Practica Profecional</a></center></B></td>
    <td style="border: 1px solid white"><B><center>Reingart Mariano</center></B></td>
    <td style="border: 1px solid white"><B><center> 521</center></B></td>
    <td style="border: 1px solid white"><B><center>504-505-512-515 </td>
        
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>EDI III</center></B></td>
    <td style="border: 1px solid white"><B><center>Aguirre Elena</center></B></td>
    <td style="border: 1px solid white"><B><center>522</center></B></td>
    <td style="border: 1px solid white"><B><center>516 </td>

        </table>
        
<form>
    <center><a href="index.html"><input type=button value="Volver" ></a></center>
</form>
