{{extend 'layout.html'}}
<br></br>
El tecnico Superior en Analisis de Sistemas estará capacitado para diagnosticar necesidades, diseñar, desarrollar, poner en servicio y mantener productos, sevicios o soluciones informáticas acorde a las organizaciones que lo requieran. Estas competencias seran desarrolladas según las incumbencias y las normas técnicas y legales que rigen su campo profesional.
<h1> <center> <u>Programas 2014</u> </center></h1>


<h1> Primer Año </h1>

<TABLE style="border: 1px solid white">
    	
	<td style="border: 1px solid white"><B><center>Materia</center></B></td>
    <td style="border: 1px solid white"><B><center>Docente </center></B></td>
    <td style="border: 1px solid white"><B><center>Codigo</center></B></td>
	<td style="border: 1px solid white"><B><center>correlativas</center></B></td>
    
    <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Algebra</center></B></td>
    <td style="border: 1px solid white"><B><center>Gonzalez Jose </center></B></td>
    <td style="border: 1px solid white"><B><center></center></B></td>
     <td style="border: 1px solid white"><B><center></td>
        
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Analisis matematico</center></B></td>
    <td style="border: 1px solid white"><B><center>Gonzalez Jose </center></B></td>
    <td style="border: 1px solid white"><B><center> </center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

	<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Ingles técnico</center></B></td>
    <td style="border: 1px solid white"><B><center>Roselli Andrea</center></B></td>
    <td style="border: 1px solid white"><B><center> </center></B></td>
    <td style="border: 1px solid white"><B><center> </td>
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Administracion de las organizaciones</center></B></td>
    <td style="border: 1px solid white"><B><center>Vargas Claudia</center></B></td>
    <td style="border: 1px solid white"><B><center> </center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Programacíon</center></B></td>
    <td style="border: 1px solid white"><B><center>Amarilla Hector </center></B></td>
    <td style="border: 1px solid white"><B><center></center></B></td>
    <td style="border: 1px solid white"><B><center> </td>
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>
    <a href="http://127.0.0.1:8000/practicarepo/carreras/metodologia">Metodologia de la investigacion</a></center></B></td>
    <td style="border: 1px solid white"><B><center>Aguirre Elena</center></B></td>
    <td style="border: 1px solid white"><B><center></center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Introduccion a los sistemas operativos</center></B></td>
    <td style="border: 1px solid white"><B><center>Medina Luz</center></B></td>
    <td style="border: 1px solid white"><B><center></center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Arquitectura del computador</center></B></td>
    <td style="border: 1px solid white"><B><center>Bravo Angel</center></B></td>
    <td style="border: 1px solid white"><B><center></center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>EDI</center></B></td>
    <td style="border: 1px solid white"><B><center>Bravo Angel</center></B></td>
    <td style="border: 1px solid white"><B><center> </center></B></td>
    <td style="border: 1px solid white"><B><center> </td>


  </TABLE>

 


<h1> Segundo Año </h1>
 

<TABLE style="border: 1px solid white">
	
	<td style="border: 1px solid white"><B><center>Materia</center></B></td>
    <td style="border: 1px solid white"><B><center>Docente </center></B></td>
    <td style="border: 1px solid white"><B><center>Codigo</center></B></td>
    <td style="border: 1px solid white"><B><center>correlativas</center></B></td>

	
	<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Probabilidad y estadistica</center></B></td>
    <td style="border: 1px solid white"><B><center>Gonzalez Jose</center></B></td>
    <td style="border: 1px solid white"><B><center></center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

   
    
    <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Analisis matematico II</center></B></td>
    <td style="border: 1px solid white"><B><center>Gonzalez Jose </center></B></td>
    <td style="border: 1px solid white"><B><center> </center></B></td>
    <td style="border: 1px solid white"><B><center> </td>
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Ingles tecnico II</center></B></td>
    <td style="border: 1px solid white"><B><center>Roselli Andrea</center></B></td>
    <td style="border: 1px solid white"><B><center></center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

	<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Sistemas de informacion </center></B></td>
    <td style="border: 1px solid white"><B><center>Bravo Angel</center></B></td>
    <td style="border: 1px solid white"><B><center></center></B></td>
    <td style="border: 1px solid white"><B><center> </td>
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Programacion II</center></B></td>
    <td style="border: 1px solid white"><B><center>Amarilla Hector</center></B></td>
    <td style="border: 1px solid white"><B><center></center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Sistemas operativos</center></B></td>
    <td style="border: 1px solid white"><B><center>Medina Luz</center></B></td>
    <td style="border: 1px solid white"><B><center></center></B></td>
    <td style="border: 1px solid white"><B><center> </td>
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Base de datos</center></B></td>
    <td style="border: 1px solid white"><B><center>Reingart Mariano</center></B></td>
    <td style="border: 1px solid white"><B><center></center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>EDI II</center></B></td>
    <td style="border: 1px solid white"><B><center>Medina Luz</center></B></td>
    <td style="border: 1px solid white"><B><center></center></B></td>
    <td style="border: 1px solid white"><B><center> </td>



    </TABLE>




<h1> Tercer Año </h1>
 

<TABLE style="border: 1px solid white">
	
	<td style="border: 1px solid white"><B><center>Materia</center></B></td>
    <td style="border: 1px solid white"><B><center>Docente </center></B></td>
    <td style="border: 1px solid white"><B><center>Codigo</center></B></td>
    <td style="border: 1px solid white"><B><center>correlativas</center></B></td>
    
	
	<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Investigacion operativa</center></B></td>
    <td style="border: 1px solid white"><B><center>Medina Luz</center></B></td>
    <td style="border: 1px solid white"><B><center></center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

   
    
    <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Economia empresarial</center></B></td>
    <td style="border: 1px solid white"><B><center>Vargas Claudia</center></B></td>
    <td style="border: 1px solid white"><B><center> </center></B></td>
    <td style="border: 1px solid white"><B><center> </td>
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>
    <a href="http://127.0.0.1:8000/practicarepo/carreras/teleinformatica">Teleinformatica</a></center></B></td>
    <td style="border: 1px solid white"><B><center>Bravo Angel</center></B></td>
    <td style="border: 1px solid white"><B><center></center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

	<tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>Sistemas de informacion II</center></B></td>
    <td style="border: 1px solid white"><B><center>Bravo Angel</center></B></td>
    <td style="border: 1px solid white"><B><center> </center></B></td>
    <td style="border: 1px solid white"><B><center> </td>
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center><a href="http://127.0.0.1:8000/practicarepo/carreras/practica">Practica Profecional</a></center></B></td>
    <td style="border: 1px solid white"><B><center>Reingart Mariano</center></B></td>
    <td style="border: 1px solid white"><B><center> </center></B></td>
    <td style="border: 1px solid white"><B><center> </td>
        
        
        <tr style="border: 1px solid white">
	<td style="border: 1px solid white"><B><center>EDI III</center></B></td>
    <td style="border: 1px solid white"><B><center>Aguirre Elena</center></B></td>
    <td style="border: 1px solid white"><B><center></center></B></td>
    <td style="border: 1px solid white"><B><center> </td>

        </table>
        
<a href="http://127.0.0.1:8000/practicarepo/default/index"><input type="button" value="Volver"></a>
