{{extend 'layout.html'}}
El Técnico Superior en Redes Informáticas podrá desempeñarse en relación de dependencia o en forma independiente, en todo tipo de empresas que requieran una persona o grupo de personas que realicen la instalación, reparación, puesta en marcha o adaptación de la red informática. Como así también el cableado estructurado, el estudio de los circuitos, componentes del hardware y el uso de software de diagnóstico y configuración. Tambien podrá actuar como auditor de sitemas de información en redes, admionistración de redes, técnico de soporte y/o conducir grupos de trabajos en estas áreas.

<h1>Materias de Tecnicatura en redes informáticas</h1>
El Instituto Superior Técnico Blaise Pascal ha preparado éste sistema de doble titulación, para que tengas más herramientas a la hora de competir en el mercado laboral. Al egresas tendrás los dos títulos por separado.



{{=BEAUTIFY(response._vars)}}
