{{extend 'layout.html'}}
<u><h1>Carreras de Salud del Instituto Superior Tecnologico Blaise Pascal</h1></u>
<br></br>

<li>
<a href="http://127.0.0.1:8000/practica/carreras/salud_enfermeria">Enfermeria</a>
<br></br></li>
<li>
<a href="http://127.0.0.1:8000/practica/carreras/salud_auxenfermeria">Auxiliar en enfermeria</a>
<br></br></li>
<li>
<a href="http://127.0.0.1:8000/practica/carreras/salud_instrumentacion">Instrumentacion</a>
<br></br></li>
<li>
<a href="http://127.0.0.1:8000/practica/carreras/salud_laboratorio">Laboratorio</a>
<br></br></li>
<li>
<a href="http://127.0.0.1:8000/practica/carreras/salud_radiologia">Radiologia</a>
<br></br></li>
<li>
<a href="http://127.0.0.1:8000/practica/carreras/salud/cardiologia">Cardiologia</a>
<br></br></li>
