{{extend 'layout.html'}}
Las ares de competencia del enfermero/a serán: brindar cuidados de enfermería encaminados a satisfacer las necesidades de salud de las personas en las distintas etapas del ciclo vital. Desarrollar actividades de promoción, prevención, recuperación y rehabilitación de la salud en los tres niveles de atención con especial énfasis en los grupos vulnerables de la población. Organizar unidades de cuidados generales e intermedios, centros quirúrgicos y de atención ambulatoria, como también servicios de atención comunitarios. Participar en programas de educación para la salud y en investigaciones para el desarrollo de la disciplina.

El enfermero es el profesional con formacion cientifica, tecnica y humanistica, responsable de brindar cuidados de enfermeria a las personas sanas y enfermas a lo largo del ciclo vital, que reconoce a la salud como un derecho humano y social y a la atencion primaria como estrategia, con el proposito de contribuir a elevar el nivel de salud y la calidad de vida de la poblacion.
<h1>Materias de enfermeria</h1>
Duracion de la carrera: 3 años
<TABLE  style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B>Primer año</B></td>
    <td style="border: 1px solid white"><B><center>Segundo año</B></td>
    <td style="border: 1px solid white"><B><center>Tercer año</B></td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Condiciones y medio ambiente del trabajo</td>
    <td style="border: 1px solid white">Comunicacion en ciencias de la salud</td>
    <td style="border: 1px solid white">Nociones basicas de informática</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Salud publica</td>
    <td style="border: 1px solid white">Ingles</td>
    <td style="border: 1px solid white">Organización y gestión de servicios de enfermería </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Biología humana</td>
    <td style="border: 1px solid white">Salud pública II </td>
    <td style="border: 1px solid white">Aspectos bioéticos y legales de la profesión</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Fundamentos del cuidado</td>
    <td style="border: 1px solid white">Farmacología en enfermería</td>
    <td style="border: 1px solid white">Enfermería en salud mental</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Cuidados de la salud centrados en la comunidad y la familia</td>
    <td style="border: 1px solid white">Enfermería materno infantil </td>
    <td style="border: 1px solid white">Enfermería del adulto y del adulto mayor II  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Practica profesional </td>
    <td style="border: 1px solid white"> Enfermeria del adulto y del adulto mayor I</td>
    <td style="border: 1px solid white">Enfermeria comunitaria y practica educativa en salud  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">
    <td style="border: 1px solid white">Enfermeria en emergencias y catastrofes</td>
    <td style="border: 1px solid white"> Espacio de definición institucional</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">
    <td style="border: 1px solid white">Practica profecional II </td>
    <td style="border: 1px solid white"> Practica profecional III </td>
    </tr>
	</tr>
    </TABLE>
