{{extend 'layout.html'}}
El auxiliar egresa con la capacidad para resolver los principales problemas concernientes a la atencion, prevencio y cuidado de la persona humana sana o enferma. Ademas tendra la capacidad de escuchar, atender y entender los requerimientos del paciente, familiar o acompañante obligatorio, durante el proceso de salud, enfermedad y rehabilitacion, facilitandole todos los inconvenientes que se puedan presentar.
<h1>Materias de auxiliar de enfermeria</h1>
Duracion: 1 año
<TABLE  style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B>Primer año</B></td>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Condiciones y medio ambiente del trabajo</td>
   
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Salud publica</td>
   
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Biologia humana</td>
   
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Fundamentos del cuidado</td>
    
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Cuidados de la salud centrados en la comunidad y la familia</td>
    
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Practifa profesional</td>
    
    </tr>
{{=BEAUTIFY(response._vars)}}
<form>
    <center><a href="index.html"><input type=button value="Volver" ></a></center>
</form>
