{{extend 'layout.html'}}
El tecnico en tecnologias en salud con especialidad en cardiologia conforma con el medico cardiologo y los demas integrantes del equipo de salud, la unidad operativa para el diagnostico, tratamiento, recuperacion y rehabilitacion de la salud del paciente cardiologico.
A traves del trabajo interdisciplinario en el equipo de salu se realizan las practicas cardilogicas de promocion y prevencion en salud relacionadas con la efectividad especifica.
<h1>Materias de cardiologia</h1>
Duracion de carrera: 3 años
<TABLE  style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B>Primer año</B></td>
    <td style="border: 1px solid white"><B><center>Segundo año</B></td>
    <td style="border: 1px solid white"><B><center>Tercer año</B></td>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Salud publica</td>
    <td style="border: 1px solid white">Organizacion y Gestion de los servicios de salud</td>
    <td style="border: 1px solid white">Investigacion en servicios de salud</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Informatica</td>
    <td style="border: 1px solid white">Servicios de salud</td>
    <td style="border: 1px solid white">Ingles</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Biologia</td>
    <td style="border: 1px solid white">Seguridad e higiene</td>
    <td style="border: 1px solid white">Biotecnica</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Fundamentos basicos de las Cs exactas</td>
    <td style="border: 1px solid white">Metodologia de la investigacion</td>
    <td style="border: 1px solid white">Registro de imagenes</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Procesos tecnologicos de salud</td>
    <td style="border: 1px solid white">Biologia II</td>
    <td style="border: 1px solid white">Registro de imagenes II</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Procesos tecnologicos de salud II</td>
    <td style="border: 1px solid white">Registros electricos en reposo</td>
    <td style="border: 1px solid white">Medicina nuclear</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Espacio de definicion institucional</td>
    <td style="border: 1px solid white">Registros electricos dinamicos</td>
    <td style="border: 1px solid white">Prevencion II</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Espacio de la practica</td>
    <td style="border: 1px solid white">Prevencion</td>
    <td style="border: 1px solid white">Espacio de definicion institucional </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">  </td>
    <td style="border: 1px solid white">Espacio de definicion institucional</td>
    <td style="border: 1px solid white"></td>
    </tr>
    
     
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"></td>
    <td style="border: 1px solid white">Espacio de la practica</td>
    <td style="border: 1px solid white"></td>
    </tr>
    
    
    




{{=BEAUTIFY(response._vars)}}
