{{extend 'layout.html'}}
El tecnico en tecnologia en salud con especialidad en Radiologia es un profesional diestro en la aplicacion de los procesos tecnicos especificos del Servicio de Diagnostico por imagenes y Radioterapia, responsable de aportar al equipo de Salud, resoluciones practicas en el aprovechamiento y adecuado uso de la Tecnologia en el area de su competencia. Planifica, realiza y evalua su practica profecional basada en la correcta implementacion de los criterios y tecnicas de radio proteccion,a fin de evitar o limitar los efectos indeseables de las radiaciones sobre la salud humana en la exposicion de los trabajadores, del publico y de los pacientes a las fuentes de radiacion.

<h1>Materias de radiologia</h1>
Duracion: 3 años
<TABLE  style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B>Primer año</B></td>
    <td style="border: 1px solid white"><B><center>Segundo año</B></td>
    <td style="border: 1px solid white"><B><center>Tercer año</B></td>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Salud publica</td>
    <td style="border: 1px solid white">Organcizacion y gestion de los servicion de salud</td>
    <td style="border: 1px solid white">Investigacion en servicios de salud</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Informatica</td>
    <td style="border: 1px solid white">Seguridad e higiene</td>
    <td style="border: 1px solid white">Ingles</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Biologia</td>
    <td style="border: 1px solid white">Metodologia de la investigacion</td>
    <td style="border: 1px solid white">Bioetica</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Fundamentos basicos de las Cs exactas</td>
    <td style="border: 1px solid white">Biologia II</td>
    <td style="border: 1px solid white">Radiofisica II</td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Procesos tecnologicos en salud</td>
    <td style="border: 1px solid white">Radiofisica</td>
    <td style="border: 1px solid white">Tecnicas radiologicas III</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Procesos tecnologicos en salud II </td>
    <td style="border: 1px solid white">Fundamentos de anatomofisiologia</td>
    <td style="border: 1px solid white">Tecnicas radiologica IV</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Espacio de definicion institucional</td>
    <td style="border: 1px solid white">Tecnicas radiologicas</td>
    <td style="border: 1px solid white">Radioterapia</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Practica</td>
    <td style="border: 1px solid white">Tecnicas radiologicas II</td>
    <td style="border: 1px solid white">Espacio de definicion institucional</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"></td>
    <td style="border: 1px solid white">Fundamentos de patologia</td>
    <td style="border: 1px solid white">Practica</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"></td>
    <td style="border: 1px solid white">Espacio de definicion institucional</td>
    <td style="border: 1px solid white"></td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"></td>
    <td style="border: 1px solid white">Practica</td>
    <td style="border: 1px solid white"></td>
    </tr>
    
    
{{=BEAUTIFY(response._vars)}}
<a href="http://127.0.0.1:8000/practicarepo/default/index"><input type="button" value="Volver"></a>
