{{extend 'layout.html'}}
El tecnologo en salud con especialidad en laboratorio de analisis clinicos es el colaborador directo del bioquimico, que realiza sus tareas bajo su control y supervision, formando parte del equipo de salud. Conformara con el bioquimico y los demas integrantes, la unidad operativa para el diagnostico, tratamiento, recuperacion y rehabilitacion de la salud. A traves del trabajo interdisciplinario en el equipo de salud, realiza las practicas de promocion y prevencion en salud relacionadas con su actividad especifica.
<h1>Materias de laboratorio de analisis clinicos</h1>
Duracion: 3 años
<TABLE  style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B>Primer año</B></td>
    <td style="border: 1px solid white"><B><center>Segundo año</B></td>
    <td style="border: 1px solid white"><B><center>Tercer año</B></td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Salud publica</td>
    <td style="border: 1px solid white">Organizacion y gestionde los serv. de salud </td>
    <td style="border: 1px solid white">Investigacion en servicios de salud</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Informatica</td>
    <td style="border: 1px solid white">Seguridad e higiene </td>
    <td style="border: 1px solid white">Ingles</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Biologia</td>
    <td style="border: 1px solid white">Metodologia de la investigacion </td>
    <td style="border: 1px solid white">Bioetica</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Fund. basicos de las Cs. exactas</td>
    <td style="border: 1px solid white"> Biologia II</td>
    <td style="border: 1px solid white">Admision del paciente II</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Procesos tecnologicos en salud </td>
    <td style="border: 1px solid white">Quimica biologica </td>
    <td style="border: 1px solid white">Proced. tecnicos normalizados II</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Procesos tecnologicos en salud II</td>
    <td style="border: 1px solid white"> Admision del paciente</td>
    <td style="border: 1px solid white">Control de calidad</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Espacio de definicion institucional</td>
    <td style="border: 1px solid white">Proced. tecnicos normalizados </td>
    <td style="border: 1px solid white">Gestion del laboratorio</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Practica</td>
    <td style="border: 1px solid white">Espacio de definicion institucional </td>
    <td style="border: 1px solid white">Espacio de definicion institucional</td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"></td>
    <td style="border: 1px solid white">Practica </td>
    <td style="border: 1px solid white">Practica</td>
    </tr>
{{=BEAUTIFY(response._vars)}}
<a href="http://127.0.0.1:8000/practicarepo/default/index"><input type="button" value="Volver"></a>
