{{extend 'layout.html'}}
Un instrumentador quirurgico profecional esta capacitado y habilitado para: Atender el bienestar del paciente quirurgico. Asistir al cirujano y al anestesiologo en las cirujias mediante el dominio de las tecnicas y la utilizacion del equipamiento e insumos del centro quirurgico. Efectuar el transporte y la preservacion de unidades de sangre y hemoderivados dentro del centro quirurgico. Asistir la mesa de cirujia, instrumental, material y accesorios para el acto quirurgico y efectuar su control. Realizar el control del instrumental, material y accesorios antes, durante y despues del acto quirurgico. Asistir al profesional en el control del instrumental; como organizar, dirigir, supervisar y evaluar los recursos humanos, insumos y materiales del area quirurgica. Realizar tareas de investigacion en el campo de la administracion de la instrumentacion quirurgica.
<h1>Materias de Instrumentador Quirurgico</h1>
Duracion: 3 años
<TABLE  style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B>Primer año</B></td>
    <td style="border: 1px solid white"><B><center>Segundo año</B></td>
    <td style="border: 1px solid white"><B><center>Tercer año</B></td>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Salud publica</td>
    <td style="border: 1px solid white">Organizacion y gestion de los servicios de salud</td>
    <td style="border: 1px solid white">Investigacion en servicios de salud</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Informatica</td>
    <td style="border: 1px solid white">Seguridad e higiene</td>
    <td style="border: 1px solid white">Ingles</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Bilogia</td>
    <td style="border: 1px solid white">Metodologia de la investigacion</td>
    <td style="border: 1px solid white">Bioetica</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Fund. basicos de las Cs exactas</td>
    <td style="border: 1px solid white">Biologia II</td>
    <td style="border: 1px solid white">Anatomia y tecnica quirurgica II</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Procesos tecnologicos en salud</td>
    <td style="border: 1px solid white">Centro y acto quirurgico, su planeacion y Org.</td>
    <td style="border: 1px solid white">Introd. a la gestion del centro quirurgico</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Procesos tecnologicos en salud II</td>
    <td style="border: 1px solid white">Atencion del paciente quirurgico y la emergencia</td>
    <td style="border: 1px solid white">Espacio de definicion institucional</td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Espacio de definicion institucional</td>
    <td style="border: 1px solid white">Anatomia y tecnica quirurgica</td>
    <td style="border: 1px solid white">Practica</td>
    </tr>
    
    
    <td style="border: 1px solid white">Practica</td>
    <td style="border: 1px solid white">Espacio de definicion institucional</td>
    <td style="border: 1px solid white">
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"></td>
    <td style="border: 1px solid white">Practica</td>
    <td style="border: 1px solid white"></td>
    </tr>
    
   
{{=BEAUTIFY(response._vars)}}
<a href="http://127.0.0.1:8000/practicarepo/default/index"><input type="button" value="Volver"></a>
