{{extend 'layout.html'}}
El tecnico Superior en Analisis de Sistemas estará capacitado para diagnosticar necesidades, diseñar, desarrollar, poner en servicio y mantener productos, sevicios o soluciones informáticas acorde a las organizaciones que lo requieran. Estas competencias seran desarrolladas según las incumbencias y las normas técnicas y legales que rigen su campo profesional.

<h1>Materias de {{=filas.carreras.nombre}}</h1>

Duracion de la carrera: 3 años
<TABLE  style="border: 1px solid white">

    {{for fila in filas:}}
        <tr style="border: 1px solid white">
            <td style="border: 1px solid white">{{=fila.materia.nombre}}</td>
            <td style="border: 1px solid white">hs </td>
            <td style="border: 1px solid white">tipo  </td>
        </tr>
    {{pass}}
</TABLE>
    
    <FORM ACTION="programas">
    <INPUT TYPE= "SUBMIT" NAME="Programas" VALUE="Programas">
        </FORM>
<a href="http://127.0.0.1:8000/practicarepo/default/index"><input type="button" value="Volver"></a>
