{{extend 'layout.html'}}
<h1>certificado de materias aprobadas</h1>
<p align="center">El instituto Superior Tecnologico Blaise Pascal, Certifica quu:</p>
<b>.....................Dni:..............................................
ha aprobado el ...... de las materias de la carrera de:................
de............ resolución n°:............ en este establecimiento.
<br><br>
Se extiende el presente certificado, a los.....dias del mes de...... de
.....,a pedido del intresado para ser presente ante:..................
    ...................................................................... </b>
    <br><br>
                      <INPUT type="submit" name="imprimir" value="imprimir">
   
{{=BEAUTIFY(response._vars)}}
