{{extend 'layout.html'}}
<h1>alumno regular</h1>
<br><br>
<P>El instituto superior Blaise Pascal deja constacia que:
................................................DNI..............................
    es alumno regular de ....................año de la carrera de....................
    Resolución n°:...................... en este establecimiento en el horario de 18.30 a 20.45 hs 
Se extiende el presente certificado, a los....... dias del mes de .........................de 20...
    al pedido del interesado para ser presentado ante:..............................................
<p>Este tag contiene a otro 
 <strong>tag de línea</strong>

 </p>




{{=BEAUTIFY(response._vars)}}
