{{extend 'layout.html'}}
<h1>reincorporacion_de_alumnos.html</h1>
<form action="mailto:emaildelaempresaquehaceelformulario@email.com" method="post" enctype="text/plain">
Nombre: <input type="text" name="nombre" size="25" maxlength="50">
<br><br>
Apellidos: <input type="text" name="apellidos" size="35" maxlength="100">
<br><br>
    fecha de naciniento : dia <select name="dia">
	<option>      </option>
	<option>1</option>
	<option>2</option>
	<option>3</option>
	<option>4</option>
	<option>5</option>
	<option>6</option>
	<option>7</option>	
	<option>8</option>
    <option>9</option>
	<option>10</option>
	<option>11</option>
 	<option>12</option>
 	 <option>13</option>
 	  <option>14</option>
 	   <option>15</option>
 	    <option>16</option>
 	     <option>17</option>
 	      <option>18</option>
 	       <option>19</option>
 	        <option>20</option>
 	         <option>21</option>
 	          <option>22</option>
 	           <option>23</option>
 	            <option>24</option>
 	             <option>25</option>
 	              <option>26</option>
 	               <option>27</option>
 	                <option>28</option>
 	                 <option>29</option>
 	                  <option>30</option>
 	                   <option>31</option>
	 </select>
	mes: <select name="mes" >
        	  <option>  </option>
        	 <option>1</option>
        	 <option>2</option>
        	 <option>3</option>
        	 <option>4</option>
        	 <option>5</option>
        	 <option>6</option>
        	 <option>7</option>
        	  <option>8</option>
        	   <option>9</option>
        	    <option>10</option>
        	     <option>11</option>
        	      <option>12</option>
        	 </select>
    año: <input type="numeric" name="dni" size="15" maxlength="50"> 
        
<br><br>
Correo electrónico: <input type="text" value="@" name="correo" size="40" maxlength="100">
<br><br>
localidad : <input type="text" name="poblacion" size="15" maxlength="50">
<br><br>
Provincia: <input type="text" name="provincia" size="15" maxlength="50">
<br><br>
dni: <input type="numeric" name="dni" size="15" maxlength="50">
<br><br>
    carrera :<select name= "nombre de carrera" >
    <option>      </option>
    <option> enfermeria </option>
    <option> laboratorio </option>
    <option>instrumentacion </option>
    <option> tecnico en redes </option>
     <option>analista de sistemas </option>
    </select>
<br><br>
    <b>motivo de retiro</b> 
<br><br>
<textarea cols="40" rows="5" name="opinion">Escriba aquí...</textarea>
<br><br>
    <b>motivo de reincorporacion</b>
<br><br>
<textarea cols="40" rows="5" name="sugerencias">Escriba aquí...</textarea>
<br><br>
<tr>
<td><div align="center">
<input type="submit" value="Enviar formulario">
</div></td>
<td><div align="center">
<input type="Reset" value="Borrar formulario">
</div></td>
</tr>
{{=BEAUTIFY(response._vars)}}
</form>
