{{extend 'layout.html'}}
<div id= "div_centrado">
Establecimiento: <label for="istbp">I.S.T.B.P</label>
<br>
<br>

Alumnos regulares 

<br>
<br>
<FORM method="POST">

    <table>
    <td>Libro: <INPUT type="text" Name="libro" size="1"> </td>
    <td> Folio: <INPUT type="text" Name="folio" size="1"></td> 
    <td> Materia: <INPUT type="text" Name="folio" size="1"></td>  
    <td>Fecha: <INPUT type="text" Name="fecha" size="11" VALUE={{=request.now.date()}}></td>
    </table>
    
<br>
<TABLE id= "tabla">
    <td id= "head"><B><center>D.N.I </center> </B></td>
    <td id= "head"><B><center>Alumno </center> </B></td>
    <td id= "head"><B><center>Nota </center>  </B></td>
    
    <tr><td id= "head"><B><center> 37.695.456 </center> </B> </td>
         <td id= "head"><B><center>Jose Perez</center> </B> </td>
         <td id= "head"><B><center> 8 </center> </B></td>
    </tr>
         
        
</TABLE>  

<INPUT type="submit" name="GRABAR" value="GUARDAR">

<INPUT type="submit" name="CANCELAR" value="CANCELAR">
</FORM>
