{{extend 'layout.html'}}
<h1>Carrera</h1>
<h2>  MATERIA:  </h2>
<h3> Comision:</h3>
<FORM ACTION="">
<TABLE style="border: 1px solid white">
	<tr style="border: 1px solid white">
        <td style="border: 1px solid white"><B><center>Alumno</center></B></td>
        <td style="border: 1px solid white"><B><center>Asistencia</center></B></td>
	</tr>
	<tr style="border: 1px solid white">
		<td style="border: 1px solid white">
		</td>
		<td style="border: 1px solid white">
            <center><INPUT type="checkbox" NAME="PRESENTE" size="0"></center>
        </td>
	</tr>   
</TABLE>
<INPUT type="submit" name="GRABAR" value="GUARDAR">
</FORM>
