{{extend 'layout.html'}}
<h1>Asistencias   3ro Analisis en sistemas</h1>
<h2>  MATERIA: PRACTICA PROFESIONAL </h2>
<h3> Semana del 22 al 26 de Abril</h3>
<FORM ACTION="">
<TABLE style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B><center>Alumno</center></B></td>
    <td style="border: 1px solid white"><B><center>Clase 1</B></td>
    <td style="border: 1px solid white"><B><center>Clase 2</B></td>
    <td style="border: 1px solid white"><B><center>Clase 3</B></td>
    <td style="border: 1px solid white"><B><center>Clase 4</B></td>
    <td style="border: 1px solid white"><B><center>Clase 5</B></td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><center>Hector Calvo</center></B></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0" checked> </td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><center>Yanina Alarcon</center></B></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"> </td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><center>Lucas Gonzalez</center></B></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"> </td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><center>Yvana Santillo</center></B></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"> </td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    </tr>
     <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><center>Sofia Ramirez</center></B></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0" checked> </td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><center>Elias Sosa</center></B></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"> </td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><center>Ezequiel Villalba</center></B></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"> </td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><center>Matias Portales</center></B></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"> </td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    </tr>
     <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><center>Nahuel Cosentino</center></B></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0" checked> </td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><center>Mauro Schiavoni</center></B></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"> </td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    <td style="border: 1px solid white"><center><INPUT type="checkbox" NAME="PRESENTE" size="0"></td>
    </tr>
   
</table>
<INPUT type="submit" name="GRABAR" value="GUARDAR">
</FORM>

<a href="http://127.0.0.1:8000/practica/docentes/asistencias">SIGUIENTE SEMANA >>></a>
