{{extend 'layout.html'}}
<h1>NOTAS FINALES 3er AÑO ANALISIS EN SISTEMAS</h1>
<H3>**INVESTIGACION OPERATIVA** </H3>
<TABLE style="border: 1px solid white">
    <tr style="border: 1px solid white">
    
    <td style="border: 1px solid white"><B><center>Alumno</B></td>
    <td style="border: 1px solid white"><B><center>Final</B></td>
    <td style="border: 1px solid white"><B><center>Estado </B></td>
    <td style="border: 1px solid white"><B><center> </B></td>
    <td style="border: 1px solid white"><B><center></B></td>
     <td style="border: 1px solid white"><B><center></B></td>
    
    </tr>
    <tr style="border: 1px solid white">
    
    <td style="border: 1px solid white"><center>Hector Calvo</B></td>
    <td style="border: 1px solid white"><center>9</B></td>
    <td style="border: 1px solid white"><center>Aprobado </B></td>
    <td style="border: 1px solid white"><center> </B></td>
    <td style="border: 1px solid white"><center></B></td>
     <td style="border: 1px solid white"><center></B></td>
    
    </tr>
     <tr style="border: 1px solid white">
    
    <td style="border: 1px solid white"><center>Ezaquiel Villalba</B></td>
    <td style="border: 1px solid white"><center>7</B></td>
    <td style="border: 1px solid white"><center>Aprobado </B></td>
    <td style="border: 1px solid white"><center> </B></td>
    <td style="border: 1px solid white"><center></B></td>
     <td style="border: 1px solid white"><center></B></td>
    
    </tr>
     <tr style="border: 1px solid white">
    
    <td style="border: 1px solid white"><center>Sofia Ramirez</B></td>
    <td style="border: 1px solid white"><center>7</B></td>
    <td style="border: 1px solid white"><center>Aprobado </B></td>
    <td style="border: 1px solid white"><center> </B></td>
    <td style="border: 1px solid white"><center></B></td>
     <td style="border: 1px solid white"><center></B></td>
    
    </tr>
