{{extend 'layout.html'}}
<h1>Ficha del docente: {{=docente.nombre}}</h1>

{{=IMG(_src=URL(c='default',f='download',args=docente.foto))}}
<br> 
<h5>E-mail: {{=docente.E_mail}} </h5>
<h5> Facebook: {{=docente.facebook}} </h5>
Localidad: {{=docente.localidad}}<br>
Titulos: {{=docente.titulos}}<br>


<br></br>
<h5>*click en la materia para tomar asistencias*</h5>
<BR></BR>
{{for comision in comisiones:}}

<li>Materia que dicta:<a href="{{=URL(f="alumnoXcomision", args=[comision.comisionid])}}">{{=comision.nombre}}</a></li>
{{pass}}



    
<br></br>    


<li><b><u><h3> HORARIOS EN QUE DICTA MATERIAS</h3></u></b></li>

<li>Dia y hora: {{=horario.dia}}, {{=horario.horaid}} hs </li>


<br></br>
<a href="http://127.0.0.1:8000/practica/docentes/index">VOLVER</a>
