{{extend 'layout.html'}}
<h1>ACTA VOLANTE 3er AÑO ANALISIS EN SISTEMAS</h1>

<table>
    <td> Libro: 4</td><td> Folio:4 </td> <td> Llamado: 1º</td> <td>Mes: Julio</td>
</table>
<h3> ALUMNOS REGULARES</h3> 
<h2> PROFESOR: LUZ MEDINA </h2>
<H2>MATERIA: INVESTIGACION OPERATIVA</H2>
<FORM ACTION="">
<TABLE style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B><center>D.N.I</B></td>
    <td style="border: 1px solid white"><B><center>Alumno</B></td>
    <td style="border: 1px solid white"><B><center>Nota</B></td>
  
   
    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B><center>93573269</B></td>
    <td style="border: 1px solid white"><center>Hector Calvo</B></td>
        <td style="border: 1px solid white"><center><INPUT type="text" NAME="NOTA" size="2" MAXLENGTH="2"> </td>

    </tr>
     <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B><center>71846219</B></td>
    <td style="border: 1px solid white"><center>Ezaquiel Villalba</B></td>
         <td style="border: 1px solid white"><center><INPUT type="text" NAME="NOTA" size="2" MAXLENGTH="2"></td>
    
    
    </tr>
     <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B><center>893259292</B></td>
    <td style="border: 1px solid white"><center>Sofia Ramirez</B></td>
    <td style="border: 1px solid white"><center><INPUT type="text" NAME="NOTA" size="2" MAXLENGTH="2"></td>
    
    
    </tr>
</table>
    <INPUT type="submit" name="GRABAR" value="GUARDAR">
</FORM>
