{{extend 'layout.html'}}
<h1>ACTA VOLANTE 3er AÑO ANALISIS EN SISTEMAS</h1>
 Establecimiento: <label for="istbp">I.S.T.B.P</label>
 <br>
 <br>
Alumnos regulares de la materia:
<br>
<br>
<table>
    <td>Libro: <INPUT type="text" Name="libro" size="1"> </td><td> Folio: <INPUT type="text" Name="folio" size="1"></td>  <td>Fecha: <INPUT type="text" Name="fecha" size="11" VALUE={{=request.now.date()}}></td>
    
    
</table>
<br></br>

<FORM ACTION="">
    <TABLE style="border: 1px solid white">
    <td style="border: 1px solid white"><B><center>D.N.I</B></td>
    <td style="border: 1px solid white"><B><center>Alumno</B></td>
    <td style="border: 1px solid white"><B><center>Nota</B></td>
    <td style="border: 1px solid white"><B><center>Turno</B></td>

  
    
    {{for alumno in alumnos: }}
	<tr>
    <td style="border: 1px solid white"><B><center>{{=alumno.dni}}</B></td>
        
        <td style="border: 1px solid white"><ul><B><center>{{=alumno.nombre}}</ul></B></td>
        <td style="border: 1px solid white"><B><INPUT type="text" Name="nota" size="1"></td>
    <td style="border: 1px solid white"><B><center><SELECT name="turno" > <option>Noche</option><option>Tarde</option> <option>Mañana</option></td>
    
        </tr>
        {{pass}}
    

    <tr style="border: 1px solid white">
    
    </tr>
</table>
    <br></br>
    <INPUT type="submit" name="grabar" value="GUARDAR">
</FORM>
    {{=a}}
