{{extend 'layout.html'}}

<h1>listado de horarios de sistemas</h1>


<table style="border:black">
    <caption>Tercer año: Analista de sistemas</caption>
<tr>
<b>
    <td></td>

    <td><b><center>Lunes</center></b></td>
<td><b><center>Martes</center></b></td>
<td><b><center>Miercoles</center></b></td>
<td><b><center>Jueves</center></b></td>
<td><b><center>Lunes</center></b></td>
</b>
</tr>
<tr>
    
<td>18:00 hs </td>
    <td></td>
    <td></td>
    <td>practica profesional: Reingart</td>
    <td>sitemas de informacion 2: Bravo</td>
    <td>practica profesional: Reingart</td>



<td></td>
</tr>
<tr>
<td>19:00 hs </td>  
    <td></td>
    <td></td>
      
<td>practica profesional: Reingart</td>

    <td>sistemas de informacion: Bravo</td>
    <td>practica profesional: Reingart</td>

    </tr>
    <tr>
    <td>20:00 hs </td>
    <td></td>
        <td>investigacion operativa: Medina</td>
        <td>EDI III: Aguirre</td>
        <td>Teleinformatica: Bravo</td>
        <td>Economia: Bargas</td>




    </tr>
    <tr>
    <td>21:00 hs </td>
    <td></td>
<td>investigacion operativa: Medina</td>
    <td>EDI III: Aguirre</td>
        <td>Teleinformatica: Bravo</td>
        <td>Economia: Bargas</td>
    
    </tr>

</table>



#############################################################################################
<h1>listado de horarios</h1>


<table style="border:black">
    <caption>Tercer año: Analista de sistemas</caption>
<tr>
<b>
    <td></td>

    <td><b><center>Lunes</center></b></td>
<td><b><center>Martes</center></b></td>
<td><b><center>Miercoles</center></b></td>
<td><b><center>Jueves</center></b></td>
<td><b><center>Lunes</center></b></td>
</b>
</tr>
<tr>
    
<td>18:00 hs </td>
    <td></td>
    <td></td>
    <td>practica profesional: Reingart</td>
    <td>sitemas de informacion 2: Bravo</td>
    <td>practica profesional: Reingart</td>



<td></td>
</tr>
<tr>
<td>19:00 hs </td>  
    <td></td>
    <td></td>
      
<td>practica profesional: Reingart</td>

    <td>sistemas de informacion: Bravo</td>
    <td>practica profesional: Reingart</td>

    </tr>
    <tr>
    <td>20:00 hs </td>
    <td></td>
        <td>investigacion operativa: Medina</td>
        <td>EDI III: Aguirre</td>
        <td>Teleinformatica: Bravo</td>
        <td>Economia: Bargas</td>




    </tr>
    <tr>
    <td>21:00 hs </td>
    <td></td>
<td>investigacion operativa: Medina</td>
    <td>EDI III: Aguirre</td>
        <td>Teleinformatica: Bravo</td>
        <td>Economia: Bargas</td>
    
    </tr>

</table>

#################################################################################
<h1>listado de horarios</h1>


<table style="border:black">
    <caption>Tercer año: Analista de sistemas</caption>
<tr>
<b>
    <td></td>

    <td><b><center>Lunes</center></b></td>
<td><b><center>Martes</center></b></td>
<td><b><center>Miercoles</center></b></td>
<td><b><center>Jueves</center></b></td>
<td><b><center>Lunes</center></b></td>
</b>
</tr>
<tr>
    
<td>18:00 hs </td>
    <td></td>
    <td></td>
    <td>practica profesional: Reingart</td>
    <td>sitemas de informacion 2: Bravo</td>
    <td>practica profesional: Reingart</td>



<td></td>
</tr>
<tr>
<td>19:00 hs </td>  
    <td></td>
    <td></td>
      
<td>practica profesional: Reingart</td>

    <td>sistemas de informacion: Bravo</td>
    <td>practica profesional: Reingart</td>

    </tr>
    <tr>
    <td>20:00 hs </td>
    <td></td>
        <td>investigacion operativa: Medina</td>
        <td>EDI III: Aguirre</td>
        <td>Teleinformatica: Bravo</td>
        <td>Economia: Bargas</td>




    </tr>
    <tr>
    <td>21:00 hs </td>
    <td></td>
<td>investigacion operativa: Medina</td>
    <td>EDI III: Aguirre</td>
        <td>Teleinformatica: Bravo</td>
        <td>Economia: Bargas</td>
    
    </tr>

</table>
