{{extend 'layout.html'}}
<h1> HORARIOS DEL DOCENTE </h1>

<h1>Profesor: Mariano Reingart</h1>


<table style="border:black">
    <caption> Carrera: Analista de sistemas</caption>
 <link rel="stylesheet" href="celda.css">    
<tr>
<b>
    <td></td>

    <td><b><center>Lunes</center></b></td>
<td><b><center>Martes</center></b></td>
<td><b><center>Miercoles</center></b></td>
<td><b><center>Jueves</center></b></td>
<td ><b><center>Viernes</center></b></td>
</b>
</tr>
<tr >
<td >17:00 hs </td>
    <td>  </td>
    <td ></td>
    <td>Interconectividad 2do</td>
    <td></td>
    <td>Interconectividad 2do</td>
        </tr>
<tr>
<td>19:00 hs </td>  
    <td></td>
    <td></td>
      
<td>Práctica Profesional</td>

    
    <td></td>
    <td>Práctica profesional</td>

    </tr>
    <tr>
    <td>20:00 hs </td>
    <td></td>
        <td></td>
        <td>Base de datos 2do</td>
        <td></td>
        <td>Sistemas Operativos 2do</td>




    </tr>
    <tr>
    <td>21:00 hs </td>
    <td></td>
<td></td>
    <td>Base de datos 2do</td>
        <td></td>
        <td>Sistemas Operativos 2do</td>
    
    </tr>

</table>

<ul>
<table style="border:black">
    <caption> Carrera: Analista de sistemas</caption>
    
<tr>
<b>
    <td></td>

    <td ><b><center>Lunes</center></b></td>
<td><b><center>Martes</center></b></td>
<td><b><center>Miercoles</center></b></td>
<td><b><center>Jueves</center></b></td>

    
          


<tr>
<td>

 </td>
    <td>  </td>
    <td></td>
    <td>Interconectividad 2do</td>
    <td></td>
    <td>Interconectividad 2do</td>
        </tr>
<tr>
<td>18:00 hs </td>
    <td></td>
    <td></td>
    <td>Práctica Profesional</td>
    <td></td>
    <td>Práctica Profesional</td>
    




</tr>
