{{extend 'layout.html'}}
<h1> HORARIOS DEL DOCENTE </h1>

<h1>Profesor: Mariano Reingart</h1>


<table style="border:black">
    <caption> Carrera: Analista de sistemas</caption>
    
<tr style="border: 1px solid white">
<b>
    <td></td>

    <td style="border: 1px solid white"><b><center>Lunes</center></b></td>
<td style="border: 1px solid white"><b><center>Martes</center></b></td>
<td style="border: 1px solid white"><b><center>Miercoles</center></b></td>
<td style="border: 1px solid white"><b><center>Jueves</center></b></td>
<td style="border: 1px solid white"><b><center>Viernes</center></b></td>
</b>
</tr>
<tr style="border: 1px solid white">
<td style="border: 1px solid white">17:00 hs </td>
    <td style="border: 1px solid white">  </td>
    <td style="border: 1px solid white"></td>
    <td style="border: 1px solid white">Interconectividad 2do</td>
    <td style="border: 1px solid white"></td>
    <td style="border: 1px solid white">Interconectividad 2do</td>
        </tr>
<tr style="border: 1px solid white">
<td style="border: 1px solid white">18:00 hs </td>
    <td style="border: 1px solid white"></td>
    <td style="border: 1px solid white"></td>
    <td style="border: 1px solid white">Práctica Profesional</td>
    <td style="border: 1px solid white"></td>
    <td style="border: 1px solid white">Práctica Profesional</td>
    




</tr>
<tr style="border: 1px solid white">
<td style="border: 1px solid white">19:00 hs </td>  
    <td style="border: 1px solid white"></td>
    <td style="border: 1px solid white"></td>
      
<td style="border: 1px solid white">Práctica Profesional</td>

    
    <td style="border: 1px solid white"></td>
    <td style="border: 1px solid white">Práctica profesional</td>

    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">20:00 hs </td>
    <td style="border: 1px solid white"></td>
        <td style="border: 1px solid white"></td>
        <td style="border: 1px solid white">Base de datos 2do</td>
        <td style="border: 1px solid white"></td>
        <td style="border: 1px solid white">Sistemas Operativos 2do</td>




    </tr>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">21:00 hs </td>
    <td style="border: 1px solid white"></td>
<td style="border: 1px solid white"></td>
    <td style="border: 1px solid white">Base de datos 2do</td>
        <td style="border: 1px solid white"></td>
        <td style="border: 1px solid white">Sistemas Operativos 2do</td>
    
    </tr>

</table>
