{{extend 'layout.html'}} 
<center>
    <h2><B><u>MENÚ DOCENTES</u></B></h2>Prof. 
    <B> - Análisis de Sistemas</B> - Tercer Año 
<BR><BR>
<FORM method="POST">
    <TABLE id= "tabla">
        <tr id= "head">
            <td id="head"><B><center>Materias</center></B></td>
            <td><B><center>Asistencia</center></B></td>
            <td><B><center>Parciales</center></B></td>
            <td><B><center>Acta Volante</center></B></td>
        </tr>
    {{for materia in materias:}}
                    <tr id= "head">
                        <td id= "head"><B><center>{{=materia.nombre}}</center></B></td>
            <td><a href="../docentes/index.html"><input type=button value="Cargar"></a></td>
            <td><a href="../docentes/index.html"><input type=button value="Cargar"></a></td>
            <td><a href="../docentes/index.html"><input type=button value="Cargar"></a></td>
        </tr>
{{pass}}
</TABLE>
</FORM>
<br>
</center>
