{{extend 'layout.html'}}
 Establecimiento: <label for="istbp">I.S.T.B.P</label>
 <br>
 <br>
Alumnos libres 
<br>
<br>
<FORM ACTION="">

<table>
    <td>Libro: <INPUT type="text" Name="libro" size="1"> </td><td> Folio: <INPUT type="text" Name="folio" size="1"></td>  <td>Fecha: <INPUT type="text" Name="fecha" size="11" VALUE={{=request.now.date()}}></td>
    
    
</table>
<br></br>

    <TABLE style="border: 1px solid white">
    <td style="border: 1px solid white"><B><center>D.N.I</B></td>
    <td style="border: 1px solid white"><B><center>Alumno</B></td>
    <td style="border: 1px solid white"><B><center>Nota</B></td>

  
    
    {{for alumno in alumnos: }}
	<tr>
    <td style="border: 1px solid white"><B><center>{{=alumno.dni}}</B></td>
        
        <td style="border: 1px solid white"><ul><B><center>{{=alumno.nombre}}</ul></B></td>
        <td style="border: 1px solid white"><B><INPUT type="text" Name="nota" size="1"></td>
    
        </tr>
        {{pass}}
    

    <tr style="border: 1px solid white">
    
    </tr>
</table>
    <br></br>
    <INPUT type="submit" name="grabar" value="GUARDAR">
</FORM>
<br>
<a href="http://127.0.0.1:8000/practica/docentes/elegir"> VOLVER </a>
