{{extend 'layout.html'}}
<h1>Listado de examenes finales proximos </h1>
<br>

<TABLE style="border: 1px solid white">
    <tr>
    <td  style="border: 1px solid white"> Materia</td><td  style="border: 1px solid white"> Periodo</td>
    </tr>

        {{for examen in examenes: }}
        	<tr>

        
        	   
            <td><a href="{{=URL(f="elegir")}}"> {{=examen.materias.nombre}} </td>    
     
        		<td  style="border: 1px solid white">{{=examen.periodos.descripcion}} </td> 
        	
        
        </tr>
    {{pass}}
</TABLE>
