{{extend 'layout.html'}}
<h1> <center><u> Listado Inasistencia</u> </center></h1>
<FORM method="POST"> 
    <center>
        FECHA:<INPUT type="text" Name="fecha" size="11" VALUE={{=request.now.date().strftime('%d/%m/%Y')}}> 
        <br><br>
    <TABLE id="table" align="center">
        <tr>
            <td id= "head"><B>Alumno</B></td>
            <td  id= "head"><B><center>Días Hábiles</center></B></td>
            <td id= "head"><B><center>Presentes</center></B></td>  
            <td id= "head"><B><center>Ausentes</center></B></td>  
            <td id= "head"><B><center>Retiros Anticipados</center></B></td>      
            <td id= "head"><B><center>PORCENTAJE DE INASISTENCIAS</center></B></td>
            <td id= "head"><B><center>CONDICION OBTENIDA</center></B></td>
        </tr>
		 {{for fila in alumnos:}}
        
        <tr>
            <td id= "head" align=left>{{=fila.nombre}}</td>
        <td id= "head"><center>{{=int(faltas_1p_map.get(fila.alumnoid, ""))}}</center> </td>
        <td id= "head"><center>{{=int(faltas_2p_map.get(fila.alumnoid, ""))}}</center></td>
        <td id= "head"><center>{{=int(faltas_3p_map.get(fila.alumnoid, ""))}}</center></td>
        <td id= "head"><center>{{=faltas_4p_map.get(fila.alumnoid, "")}}</center></td>
        <td id= "head"><center>{{=porcentaje_map.get(fila.alumnoid, "")}} % </center></td>
        <td id= "head">{{=condicion_map.get(fila.alumnoid, "")}}<center>
            
        </center></td>
    </tr> 
    {{pass}}
        
    </TABLE>        
	<br>
       <a href="../index.html"><input type=button value="Volver" ></a>
    </center>
</FORM>
<br>
