{{extend 'layout.html'}}

<h1> PROFESOR: MARIANO REINGART </h1></center>
<h2>NOTAS PARCIALES 3er AÑO</h2>
<h3> MATERIA: PRACTICA PROFESIONAL</h3>
<FORM ACTION="">
<TABLE style="border: 1px solid white">
    
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B><center>DNI</center></B></td>
    <td style="border: 1px solid white"><B><center>Alumno</B></td>
    <td style="border: 1px solid white"><B><center>1er Cuatrimestre </B></td>
    <td style="border: 1px solid white"><B><center>2do Cuatrimestre</B></td>
    <td style="border: 1px solid white"><B><center>Recuperatorio 1 </B></td>
    <td style="border: 1px solid white"><B><center>Recuperatorio 2</B></td>
    <td style="border: 1px solid white"><B><center>Condicion</B></td>
    
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><center>24.277.111</center></B></td>
    <td style="border: 1px solid white"><center>Hector Calvo</B></td>
    <td style="border: 1px solid white"><center> <INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"> </td>
    <td style="border: 1px solid white"><center><INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"></center> </td>
    <td style="border: 1px solid white"><center><INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"> </td>
    <td style="border: 1px solid white"><center><INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"> </td>
    <td style="border: 1px solid white"><center><SELECT name="condicion" > <option> REGULAR</option><option>LIBRE</option></td>
    
    </tr>
    
    <tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><center>30.456.891</center></B></td>
    <td style="border: 1px solid white"><center>Belen Campos</B></td>
    <td style="border: 1px solid white"><center> <INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"> </td>
    <td style="border: 1px solid white"><center><INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"></center> </td>
    <td style="border: 1px solid white"><center><INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"> </td>
    <td style="border: 1px solid white"><center><INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"> </td>
    <td style="border: 1px solid white"><center><SELECT name="condicion" > <option> REGULAR</option><option>LIBRE</option></td>
    
    
    </tr>
    
    <tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><center>24.277.111</center></B></td>
    <td style="border: 1px solid white"><center>Ana Silva</B></td>
    <td style="border: 1px solid white"><center> <INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"> </td>
    <td style="border: 1px solid white"><center><INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"></center> </td>
    <td style="border: 1px solid white"><center><INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"> </td>
    <td style="border: 1px solid white"><center><INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"> </td>
    <td style="border: 1px solid white"><center><SELECT name="condicion" > <option> REGULAR</option><option>LIBRE</option></td>
    
    </tr>
    
    
    <tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><center>65.456.123</center></B></td>
    <td style="border: 1px solid white"><center>Angel Lopez</B></td>
    <td style="border: 1px solid white"><center> <INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"> </td>
    <td style="border: 1px solid white"><center><INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"></center> </td>
    <td style="border: 1px solid white"><center><INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"> </td>
    <td style="border: 1px solid white"><center><INPUT type="text" NAME="NOTA" size="1" MAXLENGTH="2"> </td>
    <td style="border: 1px solid white"><center><SELECT name="condicion" > <option> REGULAR</option><option>LIBRE</option></td>
    
    </tr>
</table>
    <INPUT type="submit" name="GRABAR" value="GUARDAR">
</FORM>
