{{extend 'layout.html'}}
<h1>FECHA:</h1> <INPUT type="text" Name="fecha" size="11" VALUE={{=request.now.date()}}> <h1>CARRERA:</h1>
<B>Análisis de Sistemas</B> 
<h2>DOCENTE: </h2><B>Mariano Reingart</B>
<FORM ACTION="">
<TABLE id= "tabla">
	<tr>
		<td id= "head"><center>Seleccionar Materia</center></td>
	</tr>
 	<tr>
		<td id= "head">
			<center><SELECT name="Materia" > 
				<option> Practica Profesional</option>
				<option>Sistemas Operativos</option>
				<option>Bases de datos</option>
				<option>Interconectividad</option>
		</td>
	</tr>
</TABLE>
<a href="http://127.0.0.1:8000/practicarepo/docentes/parciales.html"><INPUT type=button value="CONFIRMAR"></a>
    <br>
<a href="http://127.0.0.1:8000/practicarepo/docentes/index.html"><input type=button value="VOLVER" ></a>
</FORM>
