{{extend 'layout.html'}}
<div id= "div_centrado">
<h1>Recursos didácticos</h1>
<h1></h1>
<TABLE id= "tabla">
    
    <H1>Reservas de recursos</h1>
       
       <tr id= "head">
       <td id= "head"><B><center>Fecha</center></B></td>
       <td id= "head"><B><center>Recursos</B></td>
       <td id= "head"><B><center>Cantidad</B></td>
       <td id= "head"><B><center>Profesor</B></td>
      

       <td id= "head"><B><center>Estado</B></td> 
   
   
    </tr>
 
      
     </tr>
   
<FORM ACTION="">    
        
 
    <tr>
        <td id= "head"><center>{{=request.now.date()}}</center></td>
  
        <td id= "head"><center> <SELECT name="Recursos" > <option>Proyector</option><option>Netbook</option> <option>Microscopio</option><option>Muñeco</option></td>
        <td id= "head"><center><INPUT type="text" name="cantidad" size="2" MAXLENGTH="2"> </td>
            <td id= "head"><center>{{=usuario.nombre}}</center></td>
            

		<td id= "head"><center><INPUT type="submit" name="GRABAR" value="Reservar"></td>
         
   
</table>
    <br>
    <a href="http://127.0.0.1:8000/pascal2/docentes/cancelar#"> Listado de recursos reservados </a>
<br>
<br>

        


            
    </FORM>
    
    <br>
<form>
       <a href="index.html"><input type=button value="Volver" ></a>
</form>
            </div>
