{{extend 'layout.html'}}
<h1>Recursos didácticos</h1>
<h1></h1>
<TABLE style="border: 1px solid white">
    
    <H1>Reservas de recursos</h1>
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B><center>Fecha</center></B></td>
    <td style="border: 1px solid white"><B><center>Recursos</B></td>
    <td style="border: 1px solid white"><B><center>Cantidad</B></td>
    <td style="border: 1px solid white"><B><center>Profesor</B></td>
    <td style="border: 1px solid white"><B><center>Estado</B></td>    
   
    </tr>
    
    
      
    
    </tr>
    <tr style="border: 1px solid white">
        <td style="border: 1px solid white"><center>12/08/2013</center></td>
    <td style="border: 1px solid white"><B><center>Proyector</B></td>
    <td style="border: 1px solid white"><B><center>1</B></td>
    <td style="border: 1px solid white"><B><center>Mariano Reingart</B></td>
         <td style="border: 1px solid white"><center><INPUT type="submit" name="GRABAR" value="Cancelar"></td>
         
        </tr>
   
   
   <tr style="border: 1px solid white">
        <td style="border: 1px solid white"><center>12/09/2013</center></td>
    <td style="border: 1px solid white"><B><center>Microscopio</B></td>
    <td style="border: 1px solid white"><B><center>1</B></td>
    <td style="border: 1px solid white"><B><center>Mariano Reingart</B></td>
         <td style="border: 1px solid white"><center><INPUT type="submit" name="GRABAR" value="Cancelar"></td>
        </tr>
        
        
        <tr style="border: 1px solid white">
        <td style="border: 1px solid white"><center>22/10/2013</center></td>
    <td style="border: 1px solid white"><B><center>Muñeco</B></td>
    <td style="border: 1px solid white"><B><center>1</B></td>
    <td style="border: 1px solid white"><B><center>Mariano Reingart</B></td>
         <td style="border: 1px solid white"><center><INPUT type="submit" name="GRABAR" value="Cancelar"></td>
        </tr>
        
        <tr style="border: 1px solid white">
        <td style="border: 1px solid white"><center>12/12/2013</center></td>
    <td style="border: 1px solid white"><B><center>Notebook</B></td>
    <td style="border: 1px solid white"><B><center>7</B></td>
    <td style="border: 1px solid white"><B><center>Bravo Angel</B></td>
        <td style="border: 1px solid white"><center><INPUT type="submit" name="GRABAR" value="Cancelar"></td>
        </tr>
 
    <tr style="border: 1px solid white">
        <td style="border: 1px solid white"><center><FORM ACTION=""> <INPUT type="text" size="8" MAXLENGTH="8"></FORM></B></td>
  
    <td style="border: 1px solid white"><center> <SELECT name="Recursos" > <option>Proyector</option><option>Netbook</option> <option>Microscopio</option><option>Muñeco</option></td>
        <td style="border: 1px solid white"><center><FORM ACTION=""> <INPUT type="text" size="2" MAXLENGTH="2"></FORM> </td>
        <td style="border: 1px solid white"><center><FORM ACTION="">Amarilla Hector</td>
		<td style="border: 1px solid white"><center><INPUT type="submit" name="GRABAR" value="Reservar"></td>
         
   
</table>
