{{extend 'layout.html'}}
<div id= "div_centrado">
<FORM ACTION="">
<h1>Carga de unidades</h1>
<br>
<TABLE id= "tabla">
    
    
    <tr>
    <td id= "head"><center>Archivo</center></td>
    <td id= "head"><center>Descripcion</center></td>
    <td id= "head"><center>Carrera </center></td>
    <td id= "head"><center>Materia </center></td>
    <td id= "head"><center>Profesor</center></td>
    <td id= "head"><center>Fecha</center></td>
   
    </tr>
    
    <tr>
    <td id= "head"><center> <input name="Examinar" type="file" size="20"> </center></td>
    <td id= "head"><center><INPUT type="text" NAME="NOTA" size="60" MAXLENGTH="60"></center></td>
    <td></td> 
    <td id= "head"><center> </center></td>
    <td id= "head"><center>Hector Amarilla</center> </td>
    <td id= "head"><center>{{=request.now.date()}} </center></td>

    </tr>
    
   
</table>
</FORM>
 <br>
 <INPUT type="submit" name="GRABAR" value="GUARDAR">
<br>
<br>
<a href="http://127.0.0.1:8000/pascal2/docentes/apuntes"> volver </a>
