<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transiftional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'en'}}">
  <head>
    <title>{{=response.subtitle or request.function}}  - Instituto Superior Tecnológico Blaise Pascal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {{response.files.append(URL(request.application,'static','base.css'))}}
    {{include 'web2py_ajax.html'}}
<script type="text/javascript">
<!--
/* this adds sfhover class to menu li items to make IE6 work */
jQuery(document).ready(function(){
    jQuery('li.web2py-menu-expand').hover(
        function () {
            jQuery(this).addClass('sfhover');
        },
        function () {
            jQuery(this).removeClass('sfhover');
        }
    );
});
//-->
</script> 
  </head>
  <body>
	<div class="header">
        <div class="logo" style="float: left;">
            <a href="{{=URL(r=request,c='default',f='index.html')}}"><img src="{{=URL(request.application,'static','logo_pascal.png')}}" border="0"/></a>
        </div>
        <div class="membrete" >
            <h1><a href="{{=URL(r=request,c='default',f='index.html')}}">Instituto Superior Tecnológico Blaise Pascal</a></h1>   
            <div class="statusbar">
                {{ if 'auth' in globals():}}
                [ {{if not auth.user:}}
                <a href="{{=URL(r=request,c='default',f='user/login')}}">{{=T('Iniciar seción')}}</a> |
                <a href="{{=URL(r=request,c='default',f='user/register')}}">{{=T('Registrarse')}}</a> |
                <a href="{{=URL(r=request,c='default',f='user/request_reset_password')}}">{{=T('Olvide mi contraseña')}}</a>
                {{else:}}
                {{=auth.user.first_name}} |
                <a href="{{=URL(r=request,c='default',f='user/logout')}}">{{=T('Cerrar cesión')}}</a> |
                <a href="{{=URL(r=request,c='default',f='user/change_password')}}">{{=T('Cambiar contraseña')}}</a> |
                <a href="{{=URL(r=request,c='default',f='user/profile')}}">{{=T('Editar perfil')}}</a>
                {{pass}} ]
                {{pass}}
                {{=T("Lenguaje")}}&nbsp;<a href="?lang=es">Español</a>&nbsp;<a href="?lang=en">English</a>
            </div>
            
            <h2>{{=response.title or request.controller}}</h2>
            <h3>{{=response.subtitle or request.function}}</h3>
      		</div>            
      </div>
      <div class="flash">{{=response.flash or ''}}</div>
      <div class="body">
            {{include}}
      </div>
          <div class="footer" align="center">
              DIPREGEP 6131 - Colegio Universitario - Carreras Terciarias Oficiales <br/>
              Puerto Argentino 4238 - González Catan(1759) - Provincia de Buenos Aires - Argentina<br/>
              Teléfono 02202-423336/427725 <a href="mailto:info@institutopascal.edu.ar">info@institutopascal.edu.ar</a><br/> 
             {{=T('Copyright')}} &copy; 2013 - 
             {{=T('Powered by')}} <a class="menu_foot" href="http://www.web2py.com.ar"><img alt="web2py" src="{{=URL(r=request,c='static',f='web2py_logo_small.png')}}" border="0"></a>
          </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15712735-1");
pageTracker._trackPageview();
} catch(err) {}</script>
  </body>
</html>
