{{extend 'layout.html'}} 
<center>
    <h2><B><u>SETUP DEL MÓDULO DOCENTES</u></B></h2>
<BR><BR>
<FORM method="POST">
    <TABLE id= "tabla">
        <tr id= "head">
            <td id= "head"><B><center>Cargar Usuarios</center></B></td>
            <td><a href="cargar_usuarios.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Grupos</center></B></td>
            <td><a href="cargar_grupos.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Membrecias</center></B></td>
            <td><a href="cargar_membrecias.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Alumnos </center></B></td>
            <td><a href="cargar_alumnos.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Cursos</center></B></td>
            <td><a href="cargar_cursos.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Docentes</center></B></td>
            <td><a href="cargar_docentes.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Profesores</center></B></td>
            <td><a href="cargar_profesores.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Cargos</center></B></td>
            <td><a href="cargar_cargos.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Carreras</center></B></td>
            <td><a href="cargar_carreras.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Ciclos</center></B></td>
            <td><a href="cargar_ciclos.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Materias</center></B></td>
            <td><a href="cargar_materias.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Horarios</center></B></td>
            <td><a href="cargar_horarios.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Revista</center></B></td>
            <td><a href="cargar_usuarios.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Inasistencias</center></B></td>
            <td><a href="cargar_inasistencias.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Faltas</center></B></td>
            <td><a href="cargar_faltas.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Horas</center></B></td>
            <td><a href="cargar_horas.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Exámenes</center></B></td>
            <td><a href="cargar_examenes.html"><input type=button value="Aceptar"></a></td>
        </tr>
        <tr id= "head">
            <td id= "head"><B><center>Cargar Niveles</center></B></td>
            <td><a href="cargar_niveles.html"><input type=button value="Aceptar"></a></td>
        </tr>
    </TABLE>
</FORM>
<br>
</center>
