{{extend 'layout.html'}}
<h1>Exámenes Finales - Diciembre 2014</h1>
<div id= "div_centrado">
<br>
<tr>      
<FORM ACTION="">
    <h2>TECNICATURA SUPERIOR EN ANÁLISIS DE SISTEMA</h2>
<TABLE  style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B> Código  </B></td>
    <td style="border: 1px solid white"><B>Materia  </B></td>
    <td style="border: 1px solid white"><B>Curso </B></td>
        <td style="border: 1px solid white"><B>Año </B></td>
        <td style="border: 1px solid white"><B>1er Llamado</B></td>
        <td style="border: 1px solid white"><B>Horario</B></td>
    <td style="border: 1px solid white"><B>Correlativa</B></td>
    <td style="border: 1px solid white"><B>Docentes  </B></td>
    
    </tr>
    {{for fila in filas:}}
    
    <tr style="border: 1px solid white">
        <td style="border: 1px solid white">{{=fila.materias.codigo}}</td>
        <td style="border: 1px solid white">{{=fila.materias.nombre}}</td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">{{=fila.cursos.nombre}}</td>
        <td style="border: 1px solid white"><B>{{=fila.examenes.fecha}}</B></td>
        <td style="border: 1px solid white"><B>{{=fila.examenes.hora}}</B></td> 
        <td style="border: 1px solid white">{{=fila.correlativas.materiacorrelativa}}</td>
    <td style="border: 1px solid white">{{=fila.personal.nombre}}</td>
    </tr>
    {{pass}}
    <tr>
	
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">501</td>
    <td style="border: 1px solid white">ANÀLISIS MATEMATICO I </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">1º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
        <td style="border: 1px solid white">------ </td>
    <td style="border: 1px solid white">GONZALEZ </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">502</td>
    <td style="border: 1px solid white">INGLES TECNICO I </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">1º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>  
    <td style="border: 1px solid white">------ </td>
    <td style="border: 1px solid white">ROSELLI </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">503</td>
    <td style="border: 1px solid white">ADM. DE LAS ORGANIZACIONES  </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">1º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">------ </td>
    <td style="border: 1px solid white">VARGAS </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">504</td>
    <td style="border: 1px solid white">METODOLOGIA DE LA INVESTIGACIÒN  </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">1ª  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">------ </td>
    <td style="border: 1px solid white">AGUIRRE </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">505</td>
    <td style="border: 1px solid white">PROGRAMACIÒN I </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">1º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">------ </td>
    <td style="border: 1px solid white">AMARILLA </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">506</td>
    <td style="border: 1px solid white">INTROD. SISTEMAS DE INFORMACIÒN   </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">1º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">------ </td>
    <td style="border: 1px solid white">MEDINA </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">507</td>
    <td style="border: 1px solid white">ARQUITECTURA DE COMPUTADORES   </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">1º  </td>
       <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
       <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">------ </td>
    <td style="border: 1px solid white">BRAVO </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">508</td>
    <td style="border: 1px solid white">EDI I   </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">1º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">------ </td>
    <td style="border: 1px solid white">BRAVO </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">523</td>
    <td style="border: 1px solid white">INTRODUCCIÒN A LA FISICA  </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">1º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">------ </td>
    <td style="border: 1px solid white">GONZALEZ </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">509</td>
    <td style="border: 1px solid white">PROBABILIDAD Y ESTADìSTICA   </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">2º  </td>
       <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
       <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">500-501 </td>
    <td style="border: 1px solid white">GONZALEZ </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">510</td>
    <td style="border: 1px solid white">ANÀLISIS MATEMATICO I   </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">2º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">501 </td>
    <td style="border: 1px solid white">BRAVO </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">511</td>
    <td style="border: 1px solid white">INGLÈS TECNICO II   </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">2º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">502 </td>
    <td style="border: 1px solid white">ROSELLI </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">512</td>
    <td style="border: 1px solid white">SISTEMAS DE INFORMACIÒN I   </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">2º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">503-506 </td>
    <td style="border: 1px solid white">MEDINA </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">513</td>
    <td style="border: 1px solid white">PROGRAMACION II   </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">2º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">505 </td>
    <td style="border: 1px solid white">AMARILLA </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">514</td>
    <td style="border: 1px solid white">SISTEMAS OPERATIVOS   </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">2º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>    
    <td style="border: 1px solid white">507 </td>
    <td style="border: 1px solid white">REINGART </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">515</td>
    <td style="border: 1px solid white">BASES DE DATOS   </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">2º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">505 </td>
    <td style="border: 1px solid white">REINGART </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">516</td>
    <td style="border: 1px solid white">EDI II   </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">2º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">500-501-307 </td>
    <td style="border: 1px solid white">BRAVO </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">524</td>
    <td style="border: 1px solid white"> INTERCONECTIVIDAD </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">2º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">506 </td>
    <td style="border: 1px solid white">REINGART </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">525</td>
    <td style="border: 1px solid white"> INSTALACIÒN DE REDES </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">2º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">506-507-508 </td>
    <td style="border: 1px solid white">BRAVO </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">517</td>
    <td style="border: 1px solid white">INVESTIGACIÒN OPERATIVA   </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">3º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">509-510-513 </td>
    <td style="border: 1px solid white">VARGAS </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">518</td>
    <td style="border: 1px solid white">ECONOMìA EMPRESARIAL  </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">3º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">512 </td>
    <td style="border: 1px solid white">VARGAS </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">519</td>
    <td style="border: 1px solid white">TELEINFORMÀTICA  </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">3º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">514 </td>
    <td style="border: 1px solid white">BRAVO </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">520</td>
    <td style="border: 1px solid white">SISTEMAS DE INFORMACIÒN II  </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">3º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">512 </td>
    <td style="border: 1px solid white">MEDINA </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">521</td>
    <td style="border: 1px solid white">PRÀCTICA PROFESIONAL  </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">3º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">504-512-513-515 </td>
    <td style="border: 1px solid white">REINGART </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">522</td>
    <td style="border: 1px solid white">EDI III  </td>
    <td style="border: 1px solid white">Anual </td>
        <td style="border: 1px solid white">3º  </td>
        <td id= "head"><center><INPUT type="text" NAME="Llamado" size="8" MAXLENGTH="10"></center></td>
        <td id= "head"><center><INPUT type="text" NAME="Horario" size="8" MAXLENGTH="10"></center></td>
    <td style="border: 1px solid white">------ </td>
    <td style="border: 1px solid white">AGUIRRE </td>
    </tr>
    </td>
	</tr>
</table>
    <br><br><br><br>
<tr>
    <INPUT type="submit" name="GRABAR" value="ACEPTAR">
    <a href="menu.html"><input type=button value="VOLVER" ></a>
</tr>
</FORM>
</div>
