{{extend 'layout.html'}}
En este sitio se describen los horarios de las materias con sus correspondientes horarios
<h1>Materias de Análisis de sistemas </h1>

{{=BEAUTIFY(response._vars)}}
Duracion de la carrera: 3 años
<TABLE  style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B>Primer año</B></td>
    <td style="border: 1px solid white"><B><center>Día  </B></td>
    <td style="border: 1px solid white"><B><center>Horarios  </B></td>
        <td style="border: 1px solid white"><B><center>Docente  </B></td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Algebra</td>
    <td style="border: 1px solid white">Viernes</td>
        <td style="border: 1px solid white">20:15 22:15 </td>
        <td style="border: 1px solid white">Jose Gonzalez  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Analisis matematico</td>
    <td style="border: 1px solid white">Martes</td>
        <td style="border: 1px solid white">20:15 22:15 </td>
        <td style="border: 1px solid white">Jose Gonzalez  </td>
     </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Ingles tecnico</td>
    <td style="border: 1px solid white">Jueves </td>
        <td style="border: 1px solid white">20:15 22:15</td>
        <td style="border: 1px solid white">Roseli </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Administracion de las organizaciones</td>
    <td style="border: 1px solid white">Lunes </td>
        <td style="border: 1px solid white">18:00 20:00  </td>
        <td style="border: 1px solid white">Claudia Vargas  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Programacion</td>
    <td style="border: 1px solid white">Lunes </td>
        <td style="border: 1px solid white">20:15 22:15 </td>
        <td style="border: 1px solid white">Hector Amarilla  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Metodologia de la investigacion</td>
    <td style="border: 1px solid white">Martes </td>
        <td style="border: 1px solid white">18:00 20:00 </td>
        <td style="border: 1px solid white">Luz Medina  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Introduccion a los sistemas operativos</td>
    <td style="border: 1px solid white">Martes </td>
        <td style="border: 1px solid white">20:15 22:15</td>
        <td style="border: 1px solid white">Mariano Reingart  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Arquitectura del computador</td>
    <td style="border: 1px solid white">Lunes </td>
        <td style="border: 1px solid white">18:00 20:00</td>
        <td style="border: 1px solid white">Sosa  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">EDI</td>
    <td style="border: 1px solid white">Miercoles</td>
        <td style="border: 1px solid white">18:00 20:00</td>
        <td style="border: 1px solid white">Angel Bravo  </td>
 
    </tr>
    
    
   
    </tr>
    </TABLE>
    


<h1></h1>

{{=BEAUTIFY(response._vars)}}



<TABLE  style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B>Segundo año</B></td>
    <td style="border: 1px solid white"><B><center>Día</B></td>
        <td style="border: 1px solid white"><B><center>Horarios</B></td>
    <td style="border: 1px solid white"><B><center>Docente</B></td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Probabilidad y estadistica</td>
    <td style="border: 1px solid white">Viernes </td>
        <td style="border: 1px solid white">20:15 22:15 </td>
        <td style="border: 1px solid white">Jose Gonzalez  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Analisis matematico II </td>
    <td style="border: 1px solid white">Lunes </td>
        <td style="border: 1px solid white">18:00 20:00 </td>
        <td style="border: 1px solid white">Jose Gonzalez  </td>
     </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Ingles tecnico II </td>
    <td style="border: 1px solid white">Jueves </td>
        <td style="border: 1px solid white">20:15 22:15  </td>
        <td style="border: 1px solid white">Roseli </td>  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Sistemas de informacion </td>
    <td style="border: 1px solid white">Martes  </td>
        <td style="border: 1px solid white">20:15 22:15 </td>
        <td style="border: 1px solid white">Luz Medina  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Programacion II </td>
    <td style="border: 1px solid white">Jueves </td>
        <td style="border: 1px solid white">18:00 20:00 </td>
        <td style="border: 1px solid white">Hector Amarilla  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Sistemas operativos </td>
    <td style="border: 1px solid white">Viernes </td>
        <td style="border: 1px solid white">20:15 22:15 </td>
        <td style="border: 1px solid white">Mariano Riengart  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Base de datos </td>
    <td style="border: 1px solid white">Jueves </td>
        <td style="border: 1px solid white">20:15 22:15 </td>
        <td style="border: 1px solid white">Mariano Riengart  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">EDI II </td>
    <td style="border: 1px solid white">Martes  </td>
        <td style="border: 1px solid white">18:00 20:00</td>
        <td style="border: 1px solid white">Angel Bravo </td>
    </tr>
    
    
 
    </tr>
    
    
   
    </tr>
    </TABLE>

<h1></h1>

{{=BEAUTIFY(response._vars)}}

<TABLE  style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B>Tercer año</B></td>
    <td style="border: 1px solid white"><B><center>Día</B></td>
        <td style="border: 1px solid white"><B><center>Horarios</B></td>
    <td style="border: 1px solid white"><B><center>Docente</B></td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Investigacion operativa </td>
    <td style="border: 1px solid white">Lunes </td>
        <td style="border: 1px solid white">20:15 22:15  </td>
        <td style="border: 1px solid white">Claudia Vargas  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Economia Empresarial</td>
    <td style="border: 1px solid white">Viernes </td>
        <td style="border: 1px solid white">18:00 20:00  </td>
        <td style="border: 1px solid white">Claudia Vargas  </td>
     </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Teleinformatica</td>
    <td style="border: 1px solid white">Lunes </td>
        <td style="border: 1px solid white">18:00 20.00  </td>
        <td style="border: 1px solid white">Angel Bravo  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Sistemas de Información II</td>
    <td style="border: 1px solid white">Martes </td>
        <td style="border: 1px solid white">20:15 22:15 </td>
        <td style="border: 1px solid white">Luz Medina  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Practica Profesional</td>
    <td style="border: 1px solid white">Miercoles y Jueves </td>
        <td style="border: 1px solid white">18:00 20:00  </td>
        <td style="border: 1px solid white">Reingart/Medina  </td>
    </tr>
    
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white">EDI III</td>
    <td style="border: 1px solid white">Viernes </td>
        <td style="border: 1px solid white">20:15 22:15  </td>
        <td style="border: 1px solid white">Aguirre  </td>
    </tr>
    
    
    
   
    </tr>
    </TABLE>


<h1>Carreras de Salud</h1>
<h1>Enfermeria</h1>

{{=BEAUTIFY(response._vars)}}
Duracion de la carrera: 3 años
<TABLE  style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B>Primer año</B></td>
    <td style="border: 1px solid white"><B><center>Día  </B></td>
    <td style="border: 1px solid white"><B><center>Horarios  </B></td>
        <td style="border: 1px solid white"><B><center>Docente  </B></td>
    </tr>
    
    </tr>
     <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Salud publica	</td>
    <td style="border: 1px solid white">Martes </td>
         <td style="border: 1px solid white">20:15 22:15 </td>
        <td style="border: 1px solid white">Schreiner </td>
    </tr>
<tr style="border: 1px solid white">
    <td style="border: 1px solid white">Biología humana	</td>
    <td style="border: 1px solid white">Jueves </td>
    <td style="border: 1px solid white">18:00 20:00; 20:15 22:15  </td>
        <td style="border: 1px solid white">Rodriguez </td>
    </tr>
 </tr>
<tr style="border: 1px solid white">
    <td style="border: 1px solid white">Fundamentos del cuidado	</td>
    <td style="border: 1px solid white">Miercoles </td>
    <td style="border: 1px solid white">18:00 20:00  </td>
        <td style="border: 1px solid white">Santillan </td>
    </tr>
<tr style="border: 1px solid white">
    <td style="border: 1px solid white">Cuidados de la salud centrados en la comunidad y la familia	</td>
    <td style="border: 1px solid white">Miercoles </td>
    <td style="border: 1px solid white">20:15 22:15 </td>
        <td style="border: 1px solid white">Santillan </td>
    </tr>
<tr style="border: 1px solid white">
    <td style="border: 1px solid white">Condicion y Medio Ambiente del Trabajo	</td>
    <td style="border: 1px solid white">Martes </td>
    <td style="border: 1px solid white">18:00 20:00  </td>
        <td style="border: 1px solid white">Nocheretti </td>
    </tr>

<td>
    
    
    
</td>



<TABLE  style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B>Segundo año</B></td>
    <td style="border: 1px solid white"><B><center>Día  </B></td>
    <td style="border: 1px solid white"><B><center>Horarios  </B></td>
        <td style="border: 1px solid white"><B><center>Docente  </B></td>
    </tr>
     <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Enfermeria en Emergencias y Catrastofes</td>
    <td style="border: 1px solid white">Lunes </td>
         <td style="border: 1px solid white">18:00 20:00  </td>
        <td style="border: 1px solid white">Nocheretti  </td>
    </tr>
    </tr>
     <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Farmacologia	</td>
    <td style="border: 1px solid white">Lunes </td>
         <td style="border: 1px solid white">20:15 22:15  </td>
        <td style="border: 1px solid white">Melgarejo </td>
    </tr>
<tr style="border: 1px solid white">
    <td style="border: 1px solid white">Salud pública II	</td>
    <td style="border: 1px solid white">Martes </td>
    <td style="border: 1px solid white">18:00 20:00  </td>
        <td style="border: 1px solid white">Flores  </td>
    </tr>
 </tr>
<tr style="border: 1px solid white">
    <td style="border: 1px solid white">Salud Publica II	</td>
    <td style="border: 1px solid white">Martes </td>
    <td style="border: 1px solid white">20:15 22:15  </td>
        <td style="border: 1px solid white">Flores  </td>
    </tr>
<tr style="border: 1px solid white">
    <td style="border: 1px solid white">Enfermería materno infantil	</td>
    <td style="border: 1px solid white">Viernes </td>
    <td style="border: 1px solid white">18:00 20:00  </td>
        <td style="border: 1px solid white">Vera  </td>
    </tr>
<tr style="border: 1px solid white">
    <td style="border: 1px solid white">Enfermeria del Adulto y del Adulto mayor I	</td>
    <td style="border: 1px solid white">Viernes </td>
    <td style="border: 1px solid white">20:15 22:15  </td>
        <td style="border: 1px solid white">Schreiner  </td>
    </tr>

<td>
    
    
</td>
<TABLE  style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B>Tercer año</B></td>
    <td style="border: 1px solid white"><B><center>Día  </B></td>
    <td style="border: 1px solid white"><B><center>Horarios  </B></td>
        <td style="border: 1px solid white"><B><center>Docente  </B></td>
    </tr>
     <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Enfermería del Adulto y del Adulto Mayor</td>
    <td style="border: 1px solid white">Jueves </td>
         <td style="border: 1px solid white">18:00 20:00 </td>
        <td style="border: 1px solid white">Vera </td>
    </tr>
    </tr>
     <tr style="border: 1px solid white">
    <td style="border: 1px solid white">Enfermería del Adulto y del Adulto Mayor	</td>
    <td style="border: 1px solid white">Jueves </td>
         <td style="border: 1px solid white">20:15 21:15  </td>
        <td style="border: 1px solid white">Vera  </td>
    </tr>
<tr style="border: 1px solid white">
    <td style="border: 1px solid white">Enfermeria comunitaria y practica educativa en salud	</td>
    <td style="border: 1px solid white">Viernes </td>
    <td style="border: 1px solid white">18:00 20:00  </td>
        <td style="border: 1px solid white">Schreiner </td>
    </tr>
 </tr>
<tr style="border: 1px solid white">
    <td style="border: 1px solid white">Organizacion y Gestion de los Servicios de Enfermeria	</td>
    <td style="border: 1px solid white">Viernes </td>
    <td style="border: 1px solid white">20:15 22:15  </td>
        <td style="border: 1px solid white">Vera </td>
    </tr>
