{{extend 'layout.html'}}
<h1>Materias de Análisis de sistemas </h1>
<br>
<tr></tr>

<FORM ACTION="">
Duracion de la carrera: 3 años
<TABLE  style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B>Materia</B></td>
    <td style="border: 1px solid white"><B>Curso</B></td>
    <td style="border: 1px solid white"><B>Día</B></td>
    <td style="border: 1px solid white"><B>Horarios</B></td>
    <td style="border: 1px solid white"><B>Docente</B></td>

    </tr>
    {{for fila in filas:}}


    <tr style="border: 1px solid white">
     <td style="border: 1px solid white">{{=A(fila.materias.nombre, _href=URL(f="editar_horarios", args=[fila.horarios.horarioid]), )}}</td>
     <td style="border: 1px solid white">{{=fila.materias.cursoid}}</td>
     <td style="border: 1px solid white">{{=fila.horarios.dia}}</td>
     <td style="border: 1px solid white">{{=fila.horas.desde}} a {{=fila.horas.hasta}}</td>
    <td style="border: 1px solid white">{{=fila.personal.nombre}}</td>
    </tr>
     </TR>
    {{pass}}

    </TABLE>

</div>
    <br><br><br><br>
<tr>

    <a href="menu.html"><input type=button value="VOLVER" ></a>
    <input type="reset" value="Cancelar">

   {{=A("Agregar horarios", _href=URL (f="agregar_horarios"))}}
</tr>
</FORM>
</div>



    </tr>
