{{extend 'layout.html'}}

{{import datetime}}

<h2> Fecha: {{=datetime.date.today()}}</h2>

<h1>Actualización De Tramites Del Instituto Superior Blaise Pascal</h1>

<html>
    <p><b> Alumno : {{=alumno.nombre}}</b></p>
    <p><b> Dni : {{=alumno.dni}}</b></p>
    {{for i in nombre: }}
       <p><b> Carrera : {{=i.carreras.nombre}}</b></p>
    {{pass}}

        <FORM ACTION="">
Listado de tramites    
    <TABLE  style="border: 1px solid white">
    <tr style="border: 1px solid white">
    <td style="border: 1px solid white"><B>Nº Tramite</B></td>
    <td style="border: 1px solid white"><B>Descripción</B></td>
    <td style="border: 1px solid white"><B>Estado</B></td>
    </tr>
    {{for q in lista: }}

    <tr style="border: 1px solid white">
     <td style="border: 1px solid white">{{=q.tramites.tramiteid}}</td>
     <td style="border: 1px solid white">{{=q.tramites.descripcion}}</td>
     <td style="border: 1px solid white">{{=q.estados.descripcion}}</td>
    </tr>
     
    {{pass}}

    </TABLE>
    
</form> 
    
<p><b> Comentarios:</b></p>
<form name=myform>
<textarea name=mytextarea  cols=45 rows=8>
</textarea>
</form>
 
<input type="button" name= "boton" value="Imprimir"/> 
</html>
