{{extend 'layout.html'}}

<h1>Actualización De Tramites Del Instituto Superior Blaise Pascal</h1>

<html>
    <p><b> Alumno : {{=alumno.nombre}}</b></p>
    <p><b> Dni : {{=alumno.dni}}</b></p>

    
   <table id="tabla">
   <TH align="center" id="tabla" COLSPAN=3> Tramites del alumno</TH>    
       </tr>
           <td id="tabla">N° Tramite</td>
           <td id="tabla">Tipo de tramite</td>
           <td id="tabla">Estado</td>
       </tr>
	<TR>
		<TD id="tabla"> 1 </TD> <TD id="tabla">2 </TD> <TD id="tabla"><select>
                                        <option> Iniciado </option>
                                        <option> Confeccionado </option>
                                        <option> Autenticado</option>
                                        <option> Listo para entregar </option>
                                        <option> Finalizado </option>
                                    </select></TD>
	</TR>
	<TR>
		<TD id="tabla">2 </TD> <TD id="tabla">3 </TD> <TD id="tabla"><select> 
                                        <option> Iniciado </option>
                                        <option> Confeccionado </option>
                                        <option> Autenticado</option>
                                        <option> Listo para entregar </option>
                                        <option> Finalizado </option>
                                   </select> </TD>
	</TR>
</TABLE>	
<p><b> Comentarios:</b></p>
<form name=myform>
<textarea name=mytextarea  cols=45 rows=8>
</textarea>
</form>
<p><b> Ubicación:</b></p>
<select> 
        
    <option> Dto. Alumnos </option>
	<option> Secretaria </option>
	<option> Ministerio </option>
	
</select>
	

 
<input type="button" name= "boton" value="Aceptar"/> 
</html>
