{{extend 'layout.html'}}
<html>
<h1>Consulta De Tramites Del Instituto Superior Blaise Pascal</h1> 

<table style="border:black">
    <caption> Carrera: Analista de sistemas</caption>
    
<tr style="border: 1px solid white">
<b>
    <td></td>

    <td style="border: 1px solid white"><b><center>ID Expediente</center></b></td>
<td style="border: 1px solid white"><b><center>Fecha de Inicio</center></b></td>
<td style="border: 1px solid white"><b><center>Tipo</center></b></td>
<td style="border: 1px solid white"><b><center></center>Estado</b></td>
<td style="border: 1px solid white"><b><center></center>Departamento</b></td>
</b>
</tr>
{{for reg in regs:}}
<tr style="border: 1px solid white">
     <td style="border: 1px solid white"> </td>
    <td style="border: 1px solid white">{{=reg.expediente.expedienteid}}</td>
    <td style="border: 1px solid white">25/03/2013</td>
    <td style="border: 1px solid white">{{=reg.tramites.descripcion}}</td>
    <td style="border: 1px solid white">{{=reg.estado.descripcion}}</td>
    <td style="border: 1px solid white">Dirección</td>
        </tr>
{{pass}}
</table>



<<a href=" http://127.0.0.1:8000/pascal/tramites/actualizar" target="_self"><input type="button" name= "boton" value="Actualizar"/> </a>
    
</html>
