{{extend 'layout.html'}}

{{import datetime}}

<h2> Fecha: {{=datetime.date.today()}}</h2>

<html>
<h4>
<h1>Seleccion De Tramites Del Instituto Superior Blaise Pascal</h1>

    <p><b> Alumno : {{=alumno.nombre}}</b></p> 
    <p><b> Dni : {{=alumno.dni}}</b></p>
    {{for i in nombre: }}
       <p><b> Carrera : {{=i.carreras.nombre}}</b></p>
        </tr>
    {{pass}}

    <p><b></b></p>
<b><h1>Tramites:</h1></b>
<li>
<u><a href="{{=URL (c= "constancia",f="alumno_regular")}}">Constancia de alumno regular</a>
</li>
<li>
<a href="{{=URL (c= "constancia",f="materias_aprobadas")}}">Certificados de materias aprobadas</a>
</li>
<li>
<a href="{{=URL (c= "constancia",f="reincorporacion")}}">Reincorporación de alumno</a>
</li>
<li>
<a href="{{=URL (c= "constancia",f="titulo_en_tramite")}}">Titulo en tramite</a>
</li>


<p><b> Comentarios: </b></p> 
<form name=myform>
<textarea name=mytextarea  cols=45 rows=8>
</textarea>
</form>
<input type="button" value="Enviar comentarios" /></form></form>
</html>
