{{extend 'layout.html'}}
<h1>Seleccion De Tramites Del Instituto Superior Blaise Pascal</h1> 
{{=BEAUTIFY(response._vars)}}
<html>
    <p><b> Alumno : Jose Perez 
    Dni : 37456289 
    Carrera : Analisis de Sistemas </b></p> 
    
<select>
	<option> Constancia de alumno regular </option>
	<option> Reincorporación de alumno </option>
	<option> Certificados de materias aprobadas </option>
	<option> Titulo en tramite </option>
</select>

<p><b> Comentarios: </b></p> 
<form name=myform>
<textarea name=mytextarea  cols=45 rows=8>
</textarea>
</form>
<input type="button" name=myButton value="Enviar">
</html>
