{{extend 'layout.html'}}
<html>
<h1>Seleccion De Tramites Del Instituto Superior Blaise Pascal</h1> 

    <p><b> Alumno : {{=alumno.nombre}}</b></p> 
    <p><b> Dni : {{=alumno.dni}}</b></p>
    <p><b></b></p>

<select>
	<option> Constancia de alumno regular </option>
	<option> Reincorporación de alumno </option>
	<option> Certificados de materias aprobadas </option>
	<option> Titulo en tramite </option>
</select>


<p><b> Comentarios: </b></p> 
<form name=myform>
    <textarea name="comentarios" rows="10" cols="40">Escribe aquí tus comentarios</textarea> 
<form name=myform>

</form>
<input type="button" value="Enviar comentarios" /></form></form>
</html>
