{{extend 'layout.html'}}
<H4><li>DIPREGEP 6131 <li>DIRECCION GENERAL DE CULTURA Y EDUCACION DE LA PROVINCIA DE BUENOS AIRES <li>Instituto Superior
Tecnológico
Blaise Pascal
<li>Puerto argentino 4238 – (1759) González Catan  <li>tel. /fax: 02202-427725
<li>www.institutopascal.edu.ar	e-mail: informes@institutopascal.edu.ar</h4>


<p>El Instituto Superior Tecnológico Blaise Pascal deja constancia que:………………………………………………………</p>
<p>DNI:……………………………………………Es alumno regular de……Año de la carrera de……………………………………………………………………</p> 
<p>resolución Nº…………………………………En este establecimiento en el horario de 18.00 a 22.15.</p>
<p>Se extiende el presente certificado, a los……… días del mes de……………………………De 20… a pedido  </p> 
<p>del interesadopara ser presentado ante………………………………………………………………………….</p>



	
<blockquote>FIRMA</blockquote>


<blockquote>SELLO</blockquote>		

<input type="button" name=myButton value="Imprimir">
</p>
