{{extend 'layout.html'}}
<H4><li>DIPREGEP 6131 <li>DIRECCION GENERAL DE CULTURA Y EDUCACION DE LA PROVINCIA DE BUENOS AIRES <li>Instituto Superior
Tecnológico
Blaise Pascal
<li>Puerto argentino 4238 – (1759) González Catan  <li>tel. /fax: 02202-427725
<li>www.institutopascal.edu.ar	e-mail: informes@institutopascal.edu.ar</h4>


<p>El Instituto Superior Tecnológico Blaise Pascal deja constancia que: 
 {{=alumno.nombre}}</p>
<p>DNI: {{=alumno.dni}} Es alumno regular de ... Año de la carrera de ...................  </p>
<p>resolución Nº .......... En este establecimiento en el horario de 18.00 a 22.15.</p>
<p>Se extiende el presente certificado,el dia <script languaje="JavaScript">
var mydate=new Date()
var year=mydate.getYear()
if (year < 1000)
year+=1900
var day=mydate.getDay()
var month=mydate.getMonth()
var daym=mydate.getDate()
if (daym<10)
daym="0"+daym
var dayarray=new Array("Domingo","Lunes","Martes","Miercoles","Jueves","Viernes","Sabado")
var montharray=new Array("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre")
document.write("<font color='' face='Arial'>"+dayarray[day]+" "+daym+" de "+montharray[month]+" de "+year+"</font>")
</script>


<p>A pedido del interesado para ser presentado ante quien corresponda.</p>



	
<blockquote>FIRMA</blockquote>


<blockquote>SELLO</blockquote>		

<input type="button" name=myButton value="Imprimir">
</p>
