{{extend 'layout.html'}}
<H4><li>DIPREGEP 6131 <li>DIRECCION GENERAL DE CULTURA Y EDUCACION DE LA PROVINCIA DE BUENOS AIRES <li>Instituto Superior
Tecnológico
Blaise Pascal
<li>Puerto argentino 4238 – (1759) González Catan  <li>tel. /fax: 02202-427725
<li>www.institutopascal.edu.ar	e-mail: informes@institutopascal.edu.ar</h4>


<p>El Instituto Superior Tecnológico Blaise Pascal certifica que……………………………………………………………………………………… </p>
<p>DNI …………………………………………… ha aprobado el …… % de las materias de la carrera de …………………………………………</p>
<p>Resolución Nº…………………………… en este establecimiento</p>

<p>se extiende el presente certificado, a los … días del mes de……… de 20…… a pedido</p>
<p>del interesado para ser presentado ante: ……………………………………………………………………………………………………………</p>




	
<blockquote>FIRMA</blockquote>


<blockquote>SELLO</blockquote>		


<input type="button" name=myButton value="Imprimir">
</p>
