{{extend 'layout.html'}}
<H4><li>DIPREGEP 6131 <li>DIRECCION GENERAL DE CULTURA Y EDUCACION DE LA PROVINCIA DE BUENOS AIRES <li>Instituto Superior
Tecnológico
Blaise Pascal
<li>Puerto argentino 4238  (1759) González Catan  <li>tel. /fax: 02202-427725
<li>www.institutopascal.edu.ar	e-mail: informes@institutopascal.edu.ar</h4>


<p>Buenos Aires, ......./......./.......</p>

<p>Tengo el agrado de dirigirme a usted a efectos de solicitarle quiera tener a bien concederme 
la reincorporación por haberme excedido en el límite de inasistencias</p>


<p> Sin otro particular, saludo a usted muy atentamente.
El docente a cargo del curso, si así lo creyera conveniente, dará la conformidad a la reincorporación </p>

<blockquote>Nombre del solicitante</blockquote>

<blockquote>Sello de la institucion</blockquote>

<blockquote>Firma de representante</blockquote>

<input type="button" name=myButton value="Imprimir">
