{{extend 'layout.html'}}
<H4><li>DIPREGEP 6131 <li>DIRECCION GENERAL DE CULTURA Y EDUCACION DE LA PROVINCIA DE BUENOS AIRES <li>Instituto Superior
Tecnológico
Blaise Pascal
<li>Puerto argentino 4238  (1759) González Catan  <li>tel. /fax: 02202-427725
<li>www.institutopascal.edu.ar	e-mail: informes@institutopascal.edu.ar</h4>


<p>Buenos Aires, <script languaje="JavaScript">
var mydate=new Date()
var year=mydate.getYear()
if (year < 1000)
year+=1900
var day=mydate.getDay()
var month=mydate.getMonth()
var daym=mydate.getDate()
if (daym<10)
daym="0"+daym
var dayarray=new Array("Domingo","Lunes","Martes","Miercoles","Juev es","Viernes","Sabado")
var montharray=new Array("Enero","Febrero","Marzo","Abril","Mayo","Ju nio","Julio","Agosto","Septiembre","Octubre","Novi embre","Diciembre")
document.write("<font color='' face='Arial'>"+dayarray[day]+" "+daym+" de "+montharray[month]+" de "+year+"</font>")
</script></p>

<p>Tengo el agrado de dirigirme a usted a efectos de solicitarle quiera tener a bien concederme 
la reincorporación por haberme excedido en el límite de inasistencias</p>


<p> Sin otro particular, saludo a usted muy atentamente.
El docente a cargo del curso, si así lo creyera conveniente, dará la conformidad a la reincorporación </p>

<blockquote>{{=alumno.nombre}}</blockquote>

<blockquote>Sello de la institucion</blockquote>

<blockquote>Firma de representante</blockquote>

<input type="button" name=myButton value="Imprimir">
