{{extend 'layout.html'}}
<H4><li>DIPREGEP 6131 <li>DIRECCION GENERAL DE CULTURA Y EDUCACION DE LA PROVINCIA DE BUENOS AIRES <li>Instituto Superior
Tecnológico
Blaise Pascal
<li>Puerto argentino 4238 – (1759) González Catan  <li>tel. /fax: 02202-427725
<li>www.institutopascal.edu.ar e-mail: informes@institutopascal.edu.ar</h4>


<p>Constancia de Certificado de Estudios en trámite</p>
<p>
</p>
<p>………………… Rector</p>
<p>
Hace constar que……………………………………………………………………………………………………………………………………… de………………………………… Año………………………División, tiene en tramite su certificado de estudios de……………………………………………………………………………………………………………………………
<p>
    </p>
<p>DATOS CORRESPONDIENTES</p>
Nº de documento de identidad DNI/ L.C/ E…………………………………………………………………
Materias que adeuda……………………………………………………………………………………………………
idioma extranjero cursado……………………………………………………………………………………………
a pedido de …………………………………… Interesad…………………………… Se extiende la presente constancia, sin enmiendas ni raspaduras, en……………………………………………………………………… a los……………………………………………………………días del mes de …………………………………………… de………………………, para ser presentada ante las autoridades de ………………………………………………………………………………………………………………………………………………


</p>



    
<blockquote>Sello escolar</blockquote>


<blockquote>sello del establecimiento</blockquote>


<blockquote>firma del secretari../prosecretari..</blockquote>


<blockquote>firma del rector</blockquote>


<input type="button" name=myButton value="Imprimir">
